<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required:true %>
  </div>
  
  <%= render :partial => 'partials/social_info', :locals => { :f => f } %>
  
  <div class="field">
    <%= f.label :sport %>
    <%= f.select(:sport_id, options_for_select(Sport.all.collect {|p| [ p.name, p.id ] }, @team.sport_id ), {required:true}) %>
  </div>

  <div class="field">
    <%= f.label :league %>
    <%= f.select(:league_id, options_for_select(League.all.collect {|p| [ p.name, p.id ] }, @team.league_id ), {required:true}) %>
  </div>
  
  <div class="field">
    <%= f.label :division %>
    <%= f.select(:division_id, options_for_select(Division.all.collect {|p| [ p.name, p.id ] }, @team.division_id ), {include_blank:true}) %>
  </div>
  
  <div class="field">
    <%= f.label :conference %>
    <%= f.select(:conference_id, options_for_select(Conference.all.collect {|p| [ p.name, p.id ] }, @team.conference_id ), {include_blank:true}) %>
  </div>

  <div class="field">
    <%= f.label :affiliation %>
    <%= f.select(:affiliation_id, options_for_select(Affiliation.all.collect {|p| [ p.name, p.id ] }, @team.affiliation_id ), {include_blank:true}) %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= render :partial => 'partials/location', :locals => { :f => f, :location => @team.location } %>
  </div>

  <div class="actions">
    <%= f.submit "Save", id:"commit" %>
  </div>

<% end %>
