<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :social_info %><br />
    <%= f.fields_for :social_info do |s|%>
      <div class="field">
        <%= s.label :twitter_name %><br />
        <%= s.text_field :twitter_name %>
      </div>
      <div class="field">
        <%= s.label :facebook_page_url %><br />
        <%= s.text_field :facebook_page_url %>
      </div>
      <div class="field">
        <%= s.label :web_url %><br />
        <%= s.text_field :web_url %>
      </div>
    <%end%>
  </div>
  
  <div class="field">
    <%= f.label :sport %><br />
    <%= f.select(:sport_id, options_for_select(Sport.all.collect {|p| [ p.name, p.id ] } )) %>
  </div>

  <div class="field">
    <%= f.label :league %><br />
    <%= f.select(:league_id, options_for_select(League.all.collect {|p| [ p.name, p.id ] } )) %>
  </div>
  
  <div class="field">
    <%= f.label :division %><br />
    <%= f.select(:division_id, options_for_select(Division.all.collect {|p| [ p.name, p.id ] } )) %>
  </div>
  
  <div class="field">
    <%= f.label :conference %><br />
    <%= f.select(:conference_id, options_for_select(Conference.all.collect {|p| [ p.name, p.id ] } )) %>
  </div>

  <div class="field">
    <%= f.label :affiliation %><br />
    <%= f.select(:affiliation_id, options_for_select(Affiliation.all.collect {|p| [ p.name, p.id ] } )) %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.fields_for :location do |l|%>
      <%= l.label :name %><br />
      <%= l.text_field :name %>
      <%= l.label :address1 %><br />
      <%= l.text_field :address1 %>
      <%= l.label :address2 %><br />
      <%= l.text_field :address2 %>
      <%= l.label :city %><br />
      <%= l.text_field :city %>
      <%= l.label :state %><br />
      <%= l.select(:state_id, options_for_select(State.all.collect {|p| [ p.name, p.id ] } )) %>
      <%= l.label :postal_code %><br />
      <%= l.text_field :postal_code %>
      <%= l.label :country %><br />
      <%= l.select(:country_id, options_for_select(Country.all.collect {|p| [ p.name, p.id ] } )) %>
    <%end%>
  </div>

  <div class="actions">
    <%= f.submit "Save", id:"commit" %>
  </div>

<% end %>
