<h1>Listing teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>League</th>
    <th>Location</th>
    <th>Twitter name</th>
    <th>Facebook page url</th>
    <th>Web url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.sport.name %></td>
    <td><%= team.league.name %></td>
    <td><%= team.location.city + "," + team.location.state.abbreviation %></td>
    <td><%= team.social_info.twitter_name %></td>
    <td><%= team.social_info.facebook_page_url %></td>
    <td><%= team.social_info.web_url %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
    <td><%= link_to 'Destroy', team, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
