<%= provide(:title, @team.name + " on Fanzo") %>

<div id="team_show">
  <div class="row-fluid">
    <div class="span12">
      <%= @team.sport.name %>
      &gt; <%= @team.league.name %>
      <% if @team.division %>
      &gt; <%= @team.division.name %>
      <% end %>
      <% if @team.conference %>
      &gt; <%= @team.conference.name  %>
      <% end %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h1><%= teamLogo(@team, :large) %><%= @team.name %></h1>
    </div>
  </div>
  
  
  <div class="row-fluid">
    <div class="span12">
      <%= render partial:'partials/media_slider' %>
    </div>
  </div>
  
  <% if @team.social_info.hash_tags %>
  <div class="row-fluid">
    <div class="span12">
      <div class="controls" id="tweetControls">
        <div class="input-append">
          <textarea class="input-xlarge span10" rows="1"><%= raw @team.social_info.hash_tags %></textarea>
          <div class="btn-group">
            <button href="#" class="fanzoButton">Update Social Status</button>
            <%= render partial: "partials/buttons/quick_tweet_button" %>
          </div>
        </div>
      </div>    
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div id="tweetHolder">
        <div id="newTweets" class='alert alert-info fade in' style='display:none'>
          <a class='close' data-dismiss='alert' href='#'>×</a>
          <p>
            <strong>5</strong> new Tweets!
          </p>
        </div>
        <div id="tweets">
          <%= render partial: "/partials/twitter/tweet_template"%>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span6">
      <h3>Schedule</h3>
      <ul>
        <% @team.events.each do | anEvent |%>
          <li><%= link_to "#{anEvent.visiting_team.short_name} at #{anEvent.home_team.short_name} : #{anEvent.event_date.to_formatted_s(:short)}", event_path(anEvent)%></li>
        <% end %>
      </ul>    
    </div>
    <div class="span6">
      <h3>Local Official Watch Sites</h3>
      <% @localTeamWatchSites.each do |aWatchSite| %>
        <div class="row-fluid">
          <div class="span12">
            <%= aWatchSite.name && aWatchSite.name.length > 0 ? aWatchSite.name : aWatchSite.venue.name %> : <%= aWatchSite.venue.location.one_line_address %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12">
      <b>Location:</b>
      <%= @team.location.one_line_address %>
    </div>
  </div>
</div>

<script language="JavaScript">
  var myTwitterView;
  var myTeamMediaSlider;
  var myFanzonePostsController;
  
  $(function()
  {
    if (myNavigator.isLoadInProgress())
    {
      return;
    }

    myFanzonePostsController = FanzonePostsController.create("#tweetControls");
    myFanzonePostsController.initialize( <%= @team.sport.id %>, 
                          '<%= @team.social_info.hash_tags %>');                                      

    myTwitterView = TwitterView.create( 20,
                                        "tweets",
                                        "newTweets",
                                        myFanzonePostsController,
                                        "myTwitterView");
    myTwitterView.startLoadingTweets( <%= raw @team.social_info.hash_tags.split(",") %>,
                                      <%= raw @team.social_info.not_tags.split(",") %>
                                      );
    

    myTeamMediaSlider = MediaSlider.create( "div#myMediaSlider", 
                                            "div#myMediaModal",
                                            "div#myMediaModal");
    myTeamMediaSlider.createSlider( "<%= @team.short_name %>",
                                    "<%= @team.sport.name %>", 
                                    <%= raw @team.social_info.hash_tags.split(",") %>,
                                    <%= raw @team.instagram_tags.to_json %>,
                                    <%= @team.id %> );
  });
</script>
<% end %>

