<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Sport:</b>
  <%= @team.sport.name %>
</p>

<p>
  <b>League:</b>
  <%= @team.league.name %>
</p>

<p>
  <b>Division:</b>
  <%= @team.division.name %>
</p>

<p>
  <b>Conference:</b>
  <%= @team.conference.name %>
</p>

<p>
  <b>Location:</b>
  <%= @team.location.name %>
</p>

<p>
  <b>Twitter name:</b>
  <%= @team.social_info.twitter_name %>
</p>

<p>
  <b>Facebook page url:</b>
  <%= @team.social_info.facebook_page_url %>
</p>

<p>
  <b>Web url:</b>
  <%= @team.social_info.web_url %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @team.affiliation.name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
