<div class="row-fluid">
  <div class="span12">
    <%= @team.sport.name %> 
    &gt; <%= @team.league.name %> 
    <% if @team.division %>
      &gt; <%= @team.division.name %> 
    <% end %>
    <% if @team.conference %>
      &gt; <%= @team.conference.name  %>
    <% end %>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <%= teamLogo(@team, :large) %> 
    <h1><%= @team.name %></h1>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <b>Location:</b>
    <%= @team.location.one_line_address %>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Local Official Watch Sites</h3>
    <% @localTeamWatchSites.each do |aWatchSite| %>
      <div class="row-fluid">
        <div class="span12">
          <%= aWatchSite.name && aWatchSite.name.length > 0 ? aWatchSite.name : aWatchsite.venue.name %> : <%= aWatchSite.venue.location.one_line_address %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span6">
    <h3>Social</h3>
    <% if @team.social_info %>
      <div class="row-fluid">
        <div class="span12">
          <b>Twitter name:</b>
          <%= @team.social_info.twitter_name %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <b>Facebook page url:</b>
          <%= @team.social_info.facebook_page_url %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <b>Web url:</b>
          <%= @team.social_info.web_url %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <b>YouTube channel:</b>
          <%= @team.social_info.youtube_url %>
        </div>
      </div>
    <% end %>
    <% if @team.affiliation %>
      <div class="row-fluid">
        <div class="span12">
          <b>Affiliation:</b>
          <%= @team.affiliation.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<% if @team.social_info.hash_tags %>
  <div class="row-fluid">
    <div class="span12">
      <div id="tweetHolder">
        <div id="newTweets" class='alert alert-info fade in' style='display:none'>
          <a class='close' data-dismiss='alert' href='#'>×</a><p><strong>5</strong> new Tweets!</p>
        </div>
        <div id="tweets"></div>
      </div>
    </div>
  </div>
  <script language="JavaScript">
    $(function()
    {
      var theTwitterView = new TwitterView(<%= raw @team.social_info.hash_tags.split(" ") %>, 20);
      theTwitterView.startLoadingTweets();
    })
  </script>
<% end %>


