<%= form_for(@tailgate) do |f| %>
  <% if @tailgate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tailgate.errors.count, "error") %> prohibited this tailgate from being saved:</h2>

      <ul>
      <% @tailgate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden_field">
    <%= f.hidden_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= label_tag(:league_id, "Pick a League:") %>
    <%= select_tag(:league_id, options_for_select(League.visible.collect {|p| [ p.name, p.id ] } ), {id:"league_picker", prompt:"Select from this list"}) %>
  </div>

  <div class="field">
    <%= f.label :team_id, "Then pick a team:" %>
    <%= f.select(:team_id, options_for_select( @tailgate.team ? [@tailgate.team.name, @tailgate.team.id ] : [], @tailgate.team_id)) %>
  </div>
  
  <div id="colorPicker">
    <%= f.label :color, "Pick your theme:" %>
    <%= f.hidden_field :color %>
    <div class="color" data-color="#333333"></div>
    <div class="color" data-color="#002A5C"></div>
    <div class="color" data-color="#993333"></div>
    <div class="color" data-color="#663366"></div>
    <div class="color" data-color="#669999"></div>
    <div class="color" data-color="#CC6600"></div>
    <div class="color" data-color="#336633"></div>
    <div class="color" data-color="#562B00"></div>
  </div>
  
  <div class="actions">
    <%= f.submit "Save", id:"commit" %>
  </div>
<% end %>
