<%= form_for( aTailgate, remote: aTailgate.new_record? ) do |f| %>
  <div class="modal-body container">
    <%= f.hidden_field :user_id %>

    <% if aTailgate.errors.any? %>
      <div id="error_explanation" class="row">
        <div class="span3">
          <h4><%= pluralize(@tailgate.errors.count, "error") %> prohibited this tailgate from being saved:</h4>
        </div>
        <div class="span9">
          <ul>
            <% @tailgate.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row fanzoneName">
      <div class="span3 fanzoneLabel">
        <h4>Fanzone Name:</h4>
      </div>
      <div class="span6 fanzoneFields">
        <p>Be as creative as you&apos;d like, it&apos;s your pad!</p>
        <%= f.text_field :name, placeholder:"eg. Tom's Tennessee Tailgate", required: true %>
        <p>Add a description so people catch the drift...</p>
        <%= f.text_field :description, placeholder:"eg. Let's talk Vols Offense! QB calls, running game, it's all good!", maxlength:160 %>
      </div>
      <div class="span3 fanzoneExamples">
        <h5>Example Names:</h5>
        <ul>
          <li>Famous Falcon Fans</li>
          <li>Bozworth&apos;s Bozos</li>
          <li>Mike Ditka's a God!</li>
        </ul>
      </div>
    </div>

    <div class="row fanzoneTeam">
      <div class="span3 fanzoneLabel">
        <h4>Team:</h4>
      </div>
      <div class="span6 fanzoneFields">
        <%= label_tag(:league_id, "First, pick a league:") %>
        <%= select_tag(:league_id, options_for_select(League.visible.collect {|p| [ p.name, p.id ] } ), {id:"league_picker", prompt:"Select from this list"}) %>
        <%= f.label :team_id, "Then pick a team:" %>
        <%= f.select(:team_id, options_for_select( aTailgate.team ? [[  aTailgate.team.name, aTailgate.team.id ]] : [], aTailgate.team_id), {include_blank:true}, {required:true}) %>
      </div>
      <div class="span3 fanzoneExamples">
        <p>Show your support for your team, and make it easier for people to find your fanzone.</p>
      </div>
    </div>
    
    <div class="row fanzoneTopic">
      <div class="span3 fanzoneLabel">
        <h4>Keywords:</h4>
      </div>
      <div class="span6 fanzoneFields">
        <%= label_tag(:topic_tags, "Predefined Keywords:") %>
        <%= select_tag(:topic_data, options_for_select(Topic.visible.collect {|p| [ p.name, { hash_tags:p.hash_tags, not_tags:p.not_tags } ] }, aTailgate.topic_tags ), { prompt:"Pick a topic (optional)"} ) %>
        <p>Customize the keywords to personalize your fanzone:</p>
        <%= f.text_field :topic_tags, placeholder:'eg. #DCC, "Cowboy Cheerleaders"', required: true %>
        <%= f.hidden_field :not_tags %>
        <p>Separate multiple keywords with a comma like: #tag1, "two words"</p>
      </div>
      <div class="span3 fanzoneExamples">
        <p>Love quarterbacks? Love to talk about defense? Add a keyword and go beyond just your team. Fanzo will use these to find people talking about your passion.</p>
        <h5>Other examples:</h5>
        <ul>
          <li>"Mean Joe Greene"</li>
          <li>#tebow, "Tim Tebow"</li>
          <li>#dabears, #ditka</li>
        </ul>
      </div>
    </div>
    
    <div class="row fanzoneTheme">
      <div class="span3 fanzoneLabel">
        <h4>Theme:</h4>
      </div>
      <div class="span6 fanzoneFields">
        <div id="colorPicker">
          <%= f.label :color, "Personalize your fanzone with color:" %>
          <%= f.hidden_field :color %>
          <div class="color" data-color="#ffc021"></div>
          <div class="color" data-color="#ee9627"></div>
          <div class="color" data-color="#f47a20"></div>
          <div class="color" data-color="#f37321"></div>
          <div class="color" data-color="#CC6600"></div>
          <div class="color" data-color="#993333"></div>
          <div class="color" data-color="#b4985a"></div>
          <div class="color" data-color="#b99c00"></div>
          <div class="color" data-color="#9d754e"></div>
          <div class="color" data-color="#994708"></div>
          <div class="color" data-color="#7f011b"></div>
          <div class="color" data-color="#623400"></div>
          <div class="color" data-color="#562B00"></div>
          <div class="color" data-color="#a9293d"></div>
          <div class="color" data-color="#d6303a"></div>
          <div class="color" data-color="#663366"></div>
          <div class="color" data-color="#633194"></div>
          <div class="color" data-color="#49487c"></div>
          <div class="color" data-color="#393996"></div>
          <div class="color" data-color="#130a92"></div>
          <div class="color" data-color="#002A5C"></div>
          <div class="color" data-color="#00539b"></div>
          <div class="color" data-color="#0080c0"></div>
          <div class="color" data-color="#9ab0d2"></div>
          <div class="color" data-color="#98bfe5"></div>
          <div class="color" data-color="#669999"></div>
          <div class="color" data-color="#073557"></div>
          <div class="color" data-color="#336633"></div>
          <div class="color" data-color="#00853d"></div>
          <div class="color" data-color="#999da0"></div>
          <div class="color" data-color="#333333"></div>
        </div>
      </div>
      <div class="span3 fanzoneExamples">
        <p>Set your fanzone apart from the crowd.</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <% unless aTailgate.new_record? %>
      <div id="destroy_fanzone">
        <%= link_to 'Destroy', aTailgate, data: { confirm: "Are you sure you want to completely destroy this fanzone?\n\nIf you say OK, there is no going back..." }, method: :delete, class: "fanzoButton" %>
      </div>
    <% end %>
    
    <%= f.submit( (aTailgate.new_record? ? "Create!" : "Save Changes!"), class:"fanzoButton", id:"submit_fanzone") %>
  </div>
<% end %>
