<%= provide(:title, @tailgate.name + "- Fanzo") %>

<%= provide(:head_open_graph, "prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# #{ENV["FANZO_FACEBOOK_NAMESPACE"]}: http://ogp.me/ns/fb/#{ENV["FANZO_FACEBOOK_NAMESPACE"]}#'" )%>

<% provide :opengraph_meta_tags do %>
  <meta property="fb:app_id" content="<%= ENV["FANZO_FACEBOOK_APP_ID"] -%>" /> 
  <meta property="og:type"   content="<%= ENV["FANZO_FACEBOOK_NAMESPACE"] -%>:fanzone" /> 
  <meta property="og:url"    content="<%= tailgate_url(@tailgate) -%>" /> 
  <meta property="og:title"  content="<%= @tailgate.name -%>" /> 
  <meta property="og:description"  content="<%= @tailgate.description ? @tailgate.description : "A fanzone about the #{@tailgate.team.name} #{@tailgate.team.sport.name} Team."%>" /> 
  <meta property="og:image"  content="<%= getLargeLogoBitly(@tailgate.team) -%>" />    
<% end %>

<% if admin_signed_in? || ( user_signed_in? && current_user.mine?( @tailgate ) ) %>
  <%= render partial: "partials/dialogs/edit_fanzone_modal", locals: { aTailgate: @tailgate } %>
<% end %>

<div id="tailgate_show">
  <div class="modals">
    <%= render partial: "partials/dialogs/change_location", locals: { aTeam: @tailgate.team } %>    
  </div>
  
  <div class="tailgate_content" id="tailgate_<%= @tailgate.slug -%>">
    
    <div class="row-fluid">
      <div class="span12 banner" style="background-color: <%= @tailgate.color %>">
  
        <div class="fanzoneState">
          <% if admin_signed_in? || ( user_signed_in? && current_user.mine?( @tailgate ) ) %>
            <div id="edit_fanzone" class="join_fanzone">
              <a href="#myEditFanzoneModal" data-toggle="modal" class="fanzoButton">Edit</a>
            </div>
          <% else %>
            <div class="join_fanzone">
              <% if user_signed_in? %>
                <% if current_user.following?(@tailgate) %>
                  <%= render partial: "partials/buttons/unfollow_button", locals: { tailgate: @tailgate } %>
                <% else %>
                  <%= render partial: "partials/buttons/follow_button", locals: { tailgate: @tailgate } %>
                <% end %>
              <% else %>
                <a href="#myLoginModal" data-toggle="modal" class="fanzoButton follow_button">Follow</a>
              <% end %>
            </div>
          <% end %>
        </div>
        
        <div class="banner_content">
          <div class="team_logo">
            <%= teamLogo(@tailgate.team, :medium) %>      
          </div>
          <div class="fanzone_details">
            <% if @tailgate.official %>
              <div class="official">
                <span>Official</span>
              </div>
            <% end %>
            <h1><%= @tailgate.name %></h1>
            <p class="description"><%= raw handleNewlinesAndUrls(@tailgate.description) if @tailgate.description %></p>
            <div class="owner">
              <% if @tailgate.user.image %>
                <div class="profile_pic">
                  <%= image_tag( @tailgate.user.image, size:"32x32" ) %>
                </div>
              <% end %>
              <div class="owner_details">
                <p>Created by <%= @tailgate.user.full_name %></p>
                <% if @tailgate.posts.any? %>
                  <p>
                    Updated: 
                    <span class="timestamp" title="<%= @tailgate.posts_updated_at.getutc.iso8601 -%>" ><%= @tailgate.posts_updated_at.to_s %></span>
                  </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div>
      <%= render partial:'partials/media_slider' %>
    </div>
    
    <div id="fanzoneContent">
      <div id="fanzonePosts">
        <div id="postForm">
          <h4>Fanzone Posts</h4>
          <div class="profile_pic">
            <% if user_signed_in? %>
              <%= image_tag( current_user.image, size:"32x32" ) %>
            <% end %>
          </div>
          <div class="post_fields">
            <%= render "/posts/form"%>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="posts">
          <% @tailgate.posts.visible.each do | aPost | %>
            <% if user_signed_in? %>
              <% thePostVote = current_user.user_post_votes.find_by_post_id(aPost.id) %>
              <% if thePostVote && !thePostVote.up_vote %>
                <% next %>
              <% end %>
            <% end %>
            <%= render partial: "partials/post_with_comments", locals: {aPost: aPost, aPostVote: thePostVote}%>
          <% end %>
        </div>
      </div>

      <div class="rightColumn">
        <div class="fans">
          <div>
            <h4 style="background-color: <%= @tailgate.color %>"><span class="fan_count"><%= pluralize(@tailgate.tailgate_followers_count + 1, "Fan") -%></span></h4>
          </div>
          <div class="fan_pics">
            <% if @tailgate.user.image %>
              <div class="profile_pic">
                <%= image_tag( @tailgate.user.image, size:"32x32" ) %>
              </div>
            <% end %>
            <% @tailgate.followers.limit(12).each do |aTailgateFollower| %>
              <% if aTailgateFollower.image %>
                <div class="profile_pic">
                  <%= image_tag( aTailgateFollower.image, size:"32x32" ) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="venues">
          <div class="venueHeader">
            <h4 style="background-color: <%= @tailgate.color %>">Local <%= @tailgate.team.mascot -%> Venues</h4>
            <div class="locationLabel">
              <span class="city_state"><%= @currentCityState %></span>
              <span class="change_location"><a href="#myChangeLocationModal" data-toggle="modal">change</a></span>
            </div>
          </div>
          <div class="venueList">
            <%= render partial:"partials/watch_site_venue_list", locals:{ aWatchSiteList: @localTeamWatchSites, aCityState: @currentCityState } %>
          </div>
        </div>
        <div class="twitterStream">
          <div class="controls" id="tweetControls">
            <h4 style="background-color: <%= @tailgate.color %>">Tweets</h4>
          </div>
              
          <div id="tweetSuccessAlert" class='alert alert-info fade in' style='display:none'>
            <a class='close' data-dismiss='alert' href='#'>×</a>
            <div class="messageHolder"></div>
          </div>
              
          <div id="tweetHolder">
            <div id="newTweets" class='alert alert-info fade in' style='display:none'>
              <a class='close' data-dismiss='alert' href='#'>×</a>
              <p>
                <strong>5</strong> new Tweets!
              </p>
            </div>
            <div id="tweets">
              <%= render partial:"/partials/twitter/tweet_template"%>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<script language="JavaScript">
  var myTwitterView;
  var myFacebookView;
  var myTailgateMediaSlider;
  var myEditFanzoneDialog;
  
  $(function()
  {
    myFacebookView = new FacebookView();
    myTwitterView = TwitterView.create( <%= raw @tailgate.topic_tags.split(",") %>,
                                        <%= raw @tailgate.not_tags.split(",") %>,
                                        15,
                                        "tweets",
                                        "newTweets",
                                        "postForm",
                                        <%= user_signed_in? && current_user.isConnectedToTwitter? %>,
                                        <%= user_signed_in? ? current_user.id : 0 %>,
                                        <%= @tailgate.team.sport.id %>,
                                        "myTwitterView");
    myTwitterView.startLoadingTweets();

    myTailgateMediaSlider = MediaSlider.create( "div#tailgate_show div#myMediaSlider", 
                                                "div#tailgate_show div#myVideoModal",
                                                "div#tailgate_show div#myInstagramModal");
    myTailgateMediaSlider.createSliderForFanzone(<%= @tailgate.id %>,
                                              "<%= @tailgate.team.short_name %>",
                                              "<%= @tailgate.team.sport.name %>", 
                                              <%= raw @tailgate.topic_tags.split(",") %> );
                                              
    myEditFanzoneDialog = new FanzoneDialog("#myEditFanzoneModal", true);
    myEditFanzoneDialog.initialize();
  });
</script>