<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tailgate.name %>
</p>

<p>
  <b>User:</b>
  <%= @tailgate.user.email %>
</p>

<p>
  <b>Team:</b>
  <%= @tailgate.team.name %>
</p>


<%= link_to 'Edit', edit_tailgate_path(@tailgate) %> |
<%= link_to 'Back', tailgates_path %>
