<%= provide(:title, @tailgate.name + "- FANZO") %>

<div id="tailgate_show">
  <div id="tailgate_<%= @tailgate.id -%>">
    <div class="row-fluid">
      <div class="span12 banner" style="background-color: <%= @tailgate.color %>">
  
        <div class="join_fanzone">
          <% if signed_in? %>
            <% if current_user == @tailgate.user %>
              <div class="myFanzone" style="border-bottom-color: <%= @tailgate.light_color %>;"></div>
            <% elsif current_user.following?(@tailgate) %>
              <%= render partial: "partials/unfollow_button", locals: { tailgate: @tailgate } %>
            <% else %>
              <%= render partial: "partials/follow_button", locals: { tailgate: @tailgate } %>
            <% end %>
          <% else %>
            <a href="#myLoginModal" data-toggle="modal" class="follow_button">Follow</a>
          <% end %>
        </div>
        
        <div class="banner_content">
          <div class="team_logo">
            <%= teamLogo(@tailgate.team, :medium) %>      
          </div>
          <h1><%= @tailgate.name %></h1>
          <p class="owner">
            <span class="fan_count">
              <%= pluralize(@tailgate.followers.count + 1, "fan") %>
            </span> 
            : Created by <%= @tailgate.user.full_name %>
            <% if @tailgate.posts.any? %>
              : Updated <%= time_ago_in_words(@tailgate.posts[0].created_at) %> ago
            <% end %>
          </p>
        </div>
      </div>
    </div>
    
    <div>
      <%= render partial:'partials/media_slider' %>
    </div>
    
    <div id="fanzoneContent">
      <div class="fanzonePosts">
        <div id="postForm">
          <h4>Fanzone Posts</h4>
          <div class="profile_pic">
            <% if signed_in? %>
              <%= image_tag( current_user.image, size:"32x32" ) %>
            <% end %>
          </div>
          <div class="post_fields">
            <%= render "/posts/form"%>
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="posts">
          <% @tailgate.posts.each do | aPost | %>
            <%= render partial: "partials/post_with_comments", locals: {aPost: aPost}%>
          <% end %>
        </div>
      </div>

      <div class="rightColumn">
        <div class="venues">
          <h4>Venues</h4>
          <div class="venue">
            <div class="venue_image"></div>
            <div class="venue_content">
              <div class="venue_name">Venue 1</div>
              <div class="venue_address">
                123 Main Street<br/>Seattle, WA
              </div>
            </div>
          </div>  
          <div class="venue">
            <div class="venue_image"></div>
            <div class="venue_content">
              <div class="venue_name">Venue 1</div>
              <div class="venue_address">
                123 Main Street<br/>Seattle, WA
              </div>
            </div>
          </div>  
        </div>
        <div class="twitterStream">
          <div class="controls" id="tweetControls">
            <h4>Tweets</h4>
            <div class="input-append">
              <textarea rows="1"><%= raw @tailgate.topic_tags %></textarea>
              <div class="btn-group">
                <button href="#" class="btn btn-primary quickTweetButton">Update Social Status</button>
                <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><strong>Booyah!!</strong></li>
                  <div class="happy">
                    <li><a href="#"></a></li>
                  </div>
                  <li class="divider"></li>
                  <li><strong>What!?!?</strong></li>
                  <div class="sad">
                    <li><a href="#"></a></li>
                  </div>
                </ul>         
              </div>
            </div>
          </div>
          <%= render partial:"partials/twitter/tweet_modal" %>
              
          <div id="tweetSuccessAlert" class='alert alert-info fade in' style='display:none'>
            <a class='close' data-dismiss='alert' href='#'>×</a>
            <div class="messageHolder"></div>
          </div>
              
          <div id="tweetHolder">
            <div id="newTweets" class='alert alert-info fade in' style='display:none'>
              <a class='close' data-dismiss='alert' href='#'>×</a>
              <p>
                <strong>5</strong> new Tweets!
              </p>
            </div>
            <div id="tweets">
              <%= render partial:"/partials/twitter/tweet_template"%>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<script language="JavaScript">
  var myTwitterView;
  var myFacebookView;
  var myTailgateMediaSlider;
  
  $(function()
  {
    myFacebookView = new FacebookView();
    myTwitterView = TwitterView.create( <%= raw @tailgate.topic_tags.split(",") %>,
                                        <%= raw @tailgate.not_tags.split(",") %>,
                                        20,
                                        "tweets",
                                        "newTweets",
                                        "tweetControls",
                                        <%= signed_in? && current_user.isConnectedToTwitter? %>,
                                        <%= signed_in? ? current_user.id : 0 %>,
                                        <%= @tailgate.team.sport.id %>,
                                        "myTwitterView");
    myTwitterView.startLoadingTweets();

    myTailgateMediaSlider = MediaSlider.create( "div#tailgate_show div#myMediaSlider", 
                                                "div#tailgate_show div#myVideoModal",
                                                "div#tailgate_show div#myInstagramModal");
    myTailgateMediaSlider.createSliderForFanzone(<%= @tailgate.id %>,
                                              "<%= @tailgate.team.short_name %>",
                                              "<%= @tailgate.team.sport.name %>", 
                                              <%= raw @tailgate.topic_tags.split(",") %> );
                                              
  });
</script>