<h2>Sign up for Fanzo</h2>
<h3>Use your favorite social network:</h3>

<%= render "devise/facebook_twitter_logins" %>

<h3>Or Create an Account:</h3>

<div class="well">
  <%= form_for(resource, 
               as: resource_name, 
               url: registration_path(resource_name)
               ) do |f| %>  
    <%= devise_error_messages! %>
  
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, placeholder:"superfan@sports.com" %>
    </div>
  
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  
    <div>
      <%= f.submit "Create Account & Login >>", id:'commit', class:'btn btn-large btn-primary' %>
    </div>
    
    <div class='help-block'>  
      &nbsp; <%= link_to "Already have an account?", new_session_path(resource_name) %>
    </div>
  
  <% end %>
</div>
