<%= form_for(@tailgate_venue) do |f| %>
  <% if @tailgate_venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tailgate_venue.errors.count, "error") %> prohibited this tailgate_venue from being saved:</h2>

      <ul>
      <% @tailgate_venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tailgate %><br />
    <%= f.text_field :tailgate %>
  </div>
  <div class="field">
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
