<h1>Listing tailgate_venues</h1>

<table>
  <tr>
    <th>Tailgate</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tailgate_venues.each do |tailgate_venue| %>
  <tr>
    <td><%= tailgate_venue.tailgate.name %></td>
    <td><%= tailgate_venue.venue.name %></td>
    <td><%= link_to 'Show', tailgate_venue %></td>
    <td><%= link_to 'Edit', edit_tailgate_venue_path(tailgate_venue) %></td>
    <td><%= link_to 'Destroy', tailgate_venue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tailgate venue', new_tailgate_venue_path %>
