<% provide :preview do %>
  <small>Score! <%= @comment.user.full_name -%> also commented on a post in <%= @comment.post.tailgate.name -%>!</small>
<% end %>

<% provide :view_email_link do %>
  <p><small><%= link_to "Visit the fanzone", getTailgateBitly(@comment.post.tailgate) %>.</small></p>
<% end %>

<%= provide :main_header, "New Comment Alert" %>

<%= provide :content_header, "New Comment In #{ @comment.post.tailgate.name }" %>

<% provide :profile_pic do %>
  <%= image_tag( @comment.user.image, size:"32x32", alt:"#{@comment.user.full_name}" ) %>
<% end %>

<%= provide :user_name, @comment.user.full_name %>

<% provide :content do %>
  <p class="comment_content"><%= raw handleNewlinesAndUrls(@comment.content) %></p>

  <p class="header4">The Original Post:</p>
  <table>
    <tr>
      <td class="profile_pic" valign="top">
        <%= image_tag( @comment.post.user.image, size:"32x32", alt:"#{@comment.post.user.full_name}" ) %>
      </td>
      <td class="user_name">
        <div class="header3"><%= @comment.post.user.full_name -%></div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <div class="email_content">
          <% if @comment.post.image_url %>
            <div class="post_image">
              <img src="<%= @comment.post.image_url -%>" width="204" height="204" />
            </div>
          <% end %>
          <p><%= raw handleNewlinesAndUrls(@comment.post.content) -%></p>
        </div>
      </td>
    </tr>
  </table>
<% end %>

<% provide :menu do %>
  <%= link_to "Reply", getTailgateBitly(@comment.post.tailgate), class: "fanzoButton" %>
<% end %>
