<% provide :preview do %>
  <small>Score! <%= @comment.user.full_name -%> also commented on a post in <%= @comment.post.tailgate.name -%>!</small>
<% end %>

<% provide :view_email_link do %>
  <p><small><%= link_to "Visit the fanzone", getTailgateBitly(@comment.post.tailgate) %>.</small></p>
<% end %>

<%= provide :main_header, "New Comment Alert" %>

<%= provide :content_header, "New Comment In #{ @comment.post.tailgate.name }" %>

<% provide :profile_pic do %>
  <%= image_tag( @comment.user.image, size:"32x32", alt:"#{@comment.user.full_name}" ) %>
<% end %>

<%= provide :user_name, @comment.user.full_name %>

<% provide :content do %>
  <%= raw handleNewlinesAndUrls(@comment.content) %>
<% end %>

<% provide :menu do %>
  <%= link_to "Reply", getTailgateBitly(@comment.post.tailgate), class: "fanzoButton" %>
<% end %>
