<% provide :preview do %>
  <small>Score! Your fanzone, <%= @post.tailgate.name -%>, has a new post!</small>
<% end %>

<% provide :view_email_link do %>
  <p><small><%= link_to "Visit your fanzone", getTailgateBitly(@post.tailgate) %>.</small></p>
<% end %>

<%= provide :main_header, "New Post Alert" %>

<%= provide :content_header, "New Post on #{ @post.tailgate.name }" %>

<% provide :profile_pic do %>
  <%= image_tag( @post.user.image, size:"32x32", alt:"#{@post.user.full_name}" ) %>
<% end %>

<%= provide :user_name, @post.user.full_name %>

<% provide :content do %>
  <p><%= raw handleNewlinesAndUrls(@post.content) %></p>
<% end %>

<% provide :menu do %>
  <%= link_to "Reply", getTailgateBitly(@post.tailgate), class:"fanzoButton" %>
<% end %>
