<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div id="new_fanzone_post" align="center">
      <table id="topper">
        <tbody>
          <tr>
            <td class="preview" valign="top">
              <small>Score! Your fanzone, <%= @post.tailgate.name -%>, has a new post!</small>
            </td>
            <td class="email_link" valign="top">
              <small>Email not displaying correctly?</small>
              <p><small><%= link_to "Visit your fanzone", getTailgateBitly(@post.tailgate) %>.</small></p>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="header">
        <tbody>
          <tr>
            <td class="logo">
                <%= link_to image_tag( attachments['fanzo-logo.png'].url, size:"200x50", alt:"Fanzo.me" ), root_url, title:"Fanzo.me" %>
                <div class="tagline header2">where fans rule</div>
            </td>
            <td class="alert_text">
              <div class="header1">New Post Alert</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="content">
        <tbody>
          <tr class="main_body">
            <td class="left_column">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <div class="header3">Fanzo Tip</div>
                      <p>
                        When you create a fanzone, you can pick any topic that interests you.  
                        If you're topic has multiple words, surround them with a quote(&quot;) to find the best social media.
                      </p>
                      <p>Examples: <br/>&quot;Jim Brown&quot; <br/> &quot;Cover 2 Defense&quot;</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="header3">Fun Fan Fact</div>
                      <p>
                        Did you know that Texas A&amp;M trademarked the term, "12th Man"? They sued the Seattle Seahawks and won!
                        You can learn more at <a href="http://en.wikipedia.org/wiki/12th_man_(football)">Wikipedia</a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="header3">Submit your own fan fact</div>
                      <p>Go here</p>
                    </td>
                  </tr>
                </tbody>
              </table>            
            </td>
            <td class="main_column" valign="top">
              <table class="main_content">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <div class="header2">New Post on <%= @post.tailgate.name -%></div>
                   </td>
                  </tr>
                  <tr>
                    <td class="profile_pic" valign="top">
                      <%= image_tag( @post.user.image, size:"32x32", alt:"#{@post.user.full_name}" ) %>
                    </td>
                    <td class="notification_content">
                      <div class="header3"><%= @post.user.full_name -%></div>
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>
                      <p class="post_content"><%= raw handleNewlinesAndUrls(@post.content) -%></p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <p class="menu">
                        <%= link_to "Reply", getTailgateBitly(@post.tailgate) %>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>            
            </td>
          </tr>
        </tbody>
        <tfoot class="footer">
          <tr>
            <td>
              <p><small>Copyright &copy; 2012 Fanzo<br/>All Rights Reserved</small></p>
            </td>
            <td>
              <p><small>Don't want these emails any more?  Unsubscribe here.</small></p>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>