<%= provide(:title, @admin.email ) %>


<p>Email: <%= @admin.email %></p>

<%= link_to "Sports", sports_path %><br/>
<%= link_to "Leagues", leagues_path %><br/>
<%= link_to "Conferences", conferences_path %><br/>
<%= link_to "Divisions", divisions_path %><br/>
<%= link_to "Affiliations", affiliations_path %><br/>
<%= link_to "Teams", teams_path %><br/>
