<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Post:</b>
  <%= @comment.post %>
</p>


<%= link_to 'Edit', edit_tailgate_post_comment_path(@post.tailgate, @post, @comment) %> |
<%= link_to 'Back', tailgate_post_comments_path(@post.tailgate, @post) %>
