<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :home_town %><br />
    <%= f.text_field :home_town %>
  </div>
  <div class="field">
    <%= f.label :home_school %><br />
    <%= f.text_field :home_school %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :team %><br />
    <%= f.select(:team_id, options_for_select(Team.all.collect {|p| [ p.name, p.id ] }, @person.team_id )) %>
  </div>

  <%= render :partial => 'partials/social_info', :locals => { :f => f } %>


  <div class="actions">
    <%= f.submit "Save", id:"commit" %>
  </div>
<% end %>
