<div class="profile_pic">
  <% if aPost.user.image %>
    <%= link_to image_tag( aPost.user.image, size:"32x32", alt: aPost.user.full_name ), user_path(aPost.user) %>
  <% end %>
</div>

<div class="post_content">
  <div>
    <span class="user_name"><%= aPost.user.full_name %> - </span>
    <span class="timestamp" title="<%= aPost.created_at.getutc.iso8601 -%>" ><%= aPost.created_at.to_s %></span>
  </div>
  <div class="post_media">
    <% if (aPost.image_url && aPost.image_url.length > 0) || aPost.photo %>
      <% if aPost.video_id && aPost.video_id.length > 0 %>
        <div class="post_video" id="<%= aPost.video_id -%>">
          <div class="playButtonBackground"><div class='playButton'></div></div>
          <img src="<%= aPost.image_url -%>" />
        </div>
      <% else %>
        <div class="post_image">
          <div>
            <% theUrl = aPost.photo ? aPost.photo.image.url : aPost.image_url %>
            <img src="<%= theUrl -%>" />
          </div>
          <div class="pinButton">
            <a href="http://pinterest.com/pin/create/button/?url=<%=u tailgate_url(aPost.tailgate) -%>&media=<%=u theUrl -%>&description=<%=u aPost.content -%>" 
               class="pin-it-button" 
               count-layout="none" >
              <img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" />
            </a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <p class="post_text"><%= raw handleNewlinesAndUrls( aPost.content ) %></p>
</div>
