<p>
  <b>Name:</b>
  <%= @watch_site.name %>
</p>

<p>
  <b>Team:</b>
  <%= @watch_site.team.name %>
</p>

<p>
  <b>Venue:</b>
  <%= link_to @watch_site.venue.name, venue_path(@watch_site.venue) %>
</p>


<%= link_to 'Edit', edit_watch_site_path(@watch_site) %> |
<%= link_to 'New', new_watch_site_path %> |
<%= link_to 'Back', watch_sites_path %>
