<% aUserSignedInFlag = user_signed_in? %>

<div id="modals">
  <% if aUserSignedInFlag %>
    <%= render partial: "partials/dialogs/connect_twitter_modal" %>
  <% else %>
    <%= render partial: "partials/dialogs/login_modal" %>
  <% end %>
</div>

<div id="top_nav" class="navbar">
  <div class="navbar-inner">
    <nav id="fanzo_navigation">
      <div id="account" class="pull-right">
        <div id="account_content">
          <% if aUserSignedInFlag %>
            <div class="dropdown" id="account_dropdown">
              <a class="users_name" href="#account_dropdown" data-toggle="dropdown">
                <div class="profile_pic">
                  <% if current_user.image %>
                    <%= image_tag( current_user.image, size:"32x32", alt:"#{current_user.full_name}") %>
                  <% end %>
                </div>
                <div class="name"><%= current_user.first_name -%></div>
                <div class="drop_arrow"></div>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "My Profile", current_user %></li>
                <li><%= link_to "My Settings", user_settings_edit_path %></li>
                <li><a href="javascript:UserManager.get().addFanzoToFacebookPage();">Add Fanzo To My Facebook Page</a></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="login">
              <a class="users_name" href="#myLoginModal" data-toggle="modal">
                <div class="profile_pic">
                  <%= image_tag( "fanzo-logo-square.gif", size:"32x32", alt:"Fanzo.me") %>
                </div>
                <div class="name">Log in</div>
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <div id="logo">
        <a href="/">
          <div class="logoHolder"></div>
          <div class="tagline">where fans rule</div>
        </a>
      </div>
      
      <ul class="nav">
        <li id="myFanzones">
          <%if !aUserSignedInFlag %>
            <a href="#myLoginModal" data-toggle="modal">
          <% else %>
            <a href="" data-target="#myFanzones" class="dropdown-toggle" data-toggle="dropdown">
          <% end %>
            <span class="name">My Fanzones</span>
            <div class="drop_arrow"></div>
          </a>
          <ul class="dropdown-menu">
            <% if aUserSignedInFlag %>
              <% current_user.myFanzones.each do | aTailgate |%>
                <%= render partial: "partials/navigation/top_nav_tailgate", locals: { aTailgate: aTailgate } unless aTailgate.new_record? %>
              <% end %>
            <% end %>
            <li id="allFanzones" class="fanzone">
              <a href="<%= tailgates_path %>">
                <table>
                  <tr>
                    <td class="team_logo"><div></div></td>
                    <td class="fanzone_name">All Fanzones - <%= Tailgate.count -%></td>
                  </tr>
                </table>
              </a>
            </li>
          </ul>
        </li>

        <li id="fanzone_search">
          <%= render partial:"partials/team_search", locals:{ aRemoteFlag: 'false' } %>
        </li>
    
      </ul>
    </nav>  
  </div>
</div>
