<div id="myCreateFanzoneModal" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Create a Fanzone:</h3>
  </div>
  <%= form_for( aTailgate, remote:true ) do |f| %>
    <div class="modal-body">
      <%= f.hidden_field :user_id %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= label_tag(:league_id, "Pick a League:") %>
      <%= select_tag(:league_id, options_for_select(League.visible.collect {|p| [ p.name, p.id ] } ), {id:"league_picker", prompt:"Select from this list"}) %>
      <%= f.label :team_id, "Then pick a team:" %>
      <%= f.select(:team_id, options_for_select( aTailgate.team ? [aTailgate.team.name, aTailgate.team.id ] : [], aTailgate.team_id)) %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Save", id:"createFanzoneSubmit" %>
    </div>
  <% end %>
</div>
