<div id="myCreateFanzoneModal" class="modal hide fade" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Create a Fanzone:</h3>
    <ul class="page_links">
      <li class="page_link"><a href="#page1">1) Pick a Name</a></li>
      <li class="page_link"><a href="#page2">2) Pick a Team</a></li>
      <li class="page_link"><a href="#page3">3) Pick a Topic</a></li>
      <li class="page_link"><a href="#page4">4) Pick a Theme</a></li>
    </ul>
  </div>
  <%= form_for( aTailgate, remote:true ) do |f| %>
    <div id="page1" class="current_page">
      <div class="modal-body">
        <%= f.hidden_field :user_id %>
        <h4>Name your Fanzone</h4>
        <p>Be as creative as you&apos;d like, it&apos;s your pad!</p>
        <h5><%= f.label :name %></h5>
        <%= f.text_field :name, placeholder:"eg. Tom's Tennessee Tailgate" %>
        <h5>Here are some other examples</h5>
        <ul>
          <li>Famous Falcon Fans</li>
          <li>Bozworth&apos;s Bozos</li>
          <li>Mike Ditka's a God!</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#page2">Next &gt;</a>
      </div>
    </div>
    <div id="page2">
      <div class="modal-body">
        <h4>Give your Fanzone a team</h4>
        <p>Show your support for your team, and make it easier for people to find your fanzone.</p>
        <%= label_tag(:league_id, "First, pick a league:") %>
        <%= select_tag(:league_id, options_for_select(League.visible.collect {|p| [ p.name, p.id ] } ), {id:"league_picker", prompt:"Select from this list"}) %>
        <%= f.label :team_id, "Then pick a team:" %>
        <%= f.select(:team_id, options_for_select( aTailgate.team ? [aTailgate.team.name, aTailgate.team.id ] : [], aTailgate.team_id)) %>
      </div>
      <div class="modal-footer">
        <a href="#page1">&lt; Previous</a>
        <a href="#page3">Next &gt;</a>
      </div>
    </div>
    <div id="page3">
      <div class="modal-body">
        <h4>Add a topic</h4>
        <p>Crazy about Tim Tebow? Love to talk about defense? Add a topic and go beyond just your team.</p>
        <%= label_tag(:topic_tags, "Pick a predefined topic:") %>
        <%= select_tag(:topic_data, options_for_select(Topic.visible.collect {|p| [ p.name, { hash_tags:p.hash_tags, not_tags:p.not_tags } ] }, aTailgate.topic_tags ), { prompt:"Select from this list"} ) %>
        <p>or make up your own:</p>
        <%= f.text_field :topic_tags, placeholder:'eg. "Cowboy Cheerleaders"' %>
        <%= f.hidden_field :not_tags %>
      </div>
      <div class="modal-footer">
        <a href="#page2">&lt; Previous</a>
        <a href="#page4">Next &gt;</a>
      </div>
    </div>
    <div id="page4">
      <div class="modal-body">
        <h4>Pick a theme</h4>
        <p>Set your fanzone apart from the crowd.</p>
        <div id="colorPicker">
          <%= f.label :color, "Pick your theme:" %>
          <%= f.hidden_field :color %>
          <div class="color" data-color="#333333"></div>
          <div class="color" data-color="#002A5C"></div>
          <div class="color" data-color="#993333"></div>
          <div class="color" data-color="#663366"></div>
          <div class="color" data-color="#669999"></div>
          <div class="color" data-color="#CC6600"></div>
          <div class="color" data-color="#336633"></div>
          <div class="color" data-color="#562B00"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#page3">&lt; Previous</a>
        <%= f.submit "Create!", id:"createFanzoneSubmit" %>
      </div>
    </div>
  <% end %>
</div>
