<div class="span4 fanzoneTile">
  <div class="banner">
    <div class="join_fanzone">
      <% if signed_in? %>
        <% if current_user.following?(tailgate) %>
          <div class="myFanzone"></div>
        <% elsif current_user == tailgate.user %>
          <div class="myFanzone"></div>
        <% else %>
          <%= render partial: "partials/follow_button", locals: { tailgate: tailgate } %>
        <% end %>
      <% end %>
    </div>
    <div class="banner_content">
      <div class="team_logo">
        <%= teamLogo(tailgate.team, :small) %>      
      </div>
      <h3><%= tailgate.name %></h3>
    </div>
  </div>
  <div class="content">
    <table class="posts">
      <tbody>
        <% if tailgate.posts.any? %>
          <% for i in 0..1 do %>
            <% if i < tailgate.posts.length %>
              <tr class="post">
                <td class="profile_pic">
                  <% if tailgate.posts[i].user.image %>
                    <%= image_tag( tailgate.posts[i].user.image, size:"32x32") %>
                  <% end %>
                </td>
                <td class="post_content">
                  <strong><%= tailgate.posts[i].user.full_name %></strong> <span><%= tailgate.posts[i].content %></span>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr class="post"><td class="profile_pic"></td><td class="post_content">No New Posts... </td></tr>
        <% end %>
      </tbody>
    </table>
    <div class="stats">
      <span class="numFollowers">
        23 fans
      </span>
      <span class="lastUpdateDate">
        19 June
      </span>
    </div>
  </div>
</div>
