<div class="span4 fanzoneTile" id="tailgate_<%= tailgate.id %>">
  <div class="banner" 
       onclick="loadData('<%= tailgate_path(id:tailgate.id, noLayout:true ) %>', '#nav_fanzone_<%= tailgate.id -%>')"
       style="background-color:<%= tailgate.color %>" >
    <div class="join_fanzone">
      <% if signed_in? %>
        <% if current_user.mine_or_following?( tailgate ) %>
          <div class="myFanzone" style="border-bottom-color: <%= tailgate.light_color %>;"></div>
        <% else %>
          <%= render partial: "partials/follow_button", locals: { tailgate: tailgate } %>
        <% end %>
      <% else %>
        <a href="#myLoginModal" data-toggle="modal" class="follow_button">Follow</a>
      <% end %>
    </div>
    <% if tailgate.official %>
      <div class="official">
        <span>Official</span>
      </div>
    <% end %>
    <div class="banner_content">
      <table>
        <tr>
          <td class="team_logo">
            <%= teamLogo(tailgate.team, :small) %>      
          </td>
          <td class="fanzone_name">
            <h3><%= tailgate.name %></h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="content">
    <table class="posts">
      <tbody>
        <% if tailgate.posts.any? %>
          <% for i in 0..1 do %>
            <% if i < tailgate.posts.length %>
              <tr class="post">
                <td class="profile_pic">
                  <% if tailgate.posts[i].user.image %>
                    <%= image_tag( tailgate.posts[i].user.image, size:"32x32") %>
                  <% end %>
                </td>
                <td class="post_content">
                  <strong><%= tailgate.posts[i].user.full_name %></strong> <span><%= tailgate.posts[i].content %></span>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr class="post"><td class="profile_pic"></td><td class="post_content">No New Posts... </td></tr>
        <% end %>
      </tbody>
    </table>
    <div class="stats">
      <span class="numFollowers">
        <%= pluralize(tailgate.followers.count + 1, "fan") %>
      </span>
      <span class="lastUpdateDate">
        <% if tailgate.posts.any? %>
          Updated <%= time_ago_in_words(tailgate.posts[0].created_at) %> ago
        <% end %>
      </span>
    </div>
  </div>
</div>
