<div class="fanzoneTile" id="tailgate_<%= aTailgate.slug %>">
  <div class="banner" 
       onclick="loadData('<%= tailgate_path(aTailgate, noLayout:true ) %>', '#nav_<%= aTailgate.slug -%>')" >
    <div class="fanzoneState">
      <% if user_signed_in? && current_user.mine_or_following?( aTailgate ) %>
        <div class="myFanzone" style="border-bottom-color: <%= aTailgate.light_color %>;"></div>
      <% else %>
        <div class="join_fanzone">
          <% if user_signed_in? %>
            <%= render partial: "partials/buttons/follow_button", locals: { tailgate: aTailgate } %>
          <% else %>
            <a href="#myLoginModal" data-toggle="modal" class="follow_button fanzoButton">Follow</a>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if aTailgate.official %>
      <div class="official">
        <span>Official</span>
      </div>
    <% end %>
    <div class="banner_content">
      <div class="team_logo">
        <%= teamLogo(aTailgate.team, :small) %>      
      </div>
      <div class="fanzone_name" style="background-color:<%= aTailgate.color %>">
        <h3><%= aTailgate.name %></h3>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="posts">
      <% if aTailgate.posts.visible.any? %>
        <% for i in 0..1 do %>
          <% if i < aTailgate.posts.visible.length %>
            <% thePost = aTailgate.posts.visible[i] %>
            <div class="post">
              <div class="profile_pic">
                <% if thePost.user.image %>
                  <%= image_tag( thePost.user.image, size:"32x32") %>
                <% end %>
              </div>
              <div class="post_content">
                <strong><%= thePost.user.full_name %></strong>
                <% if thePost.image_url %>
                  <div class="post_image">
                    <img src="<%= thePost.image_url -%>" width="153" height="153" />
                  </div>
                <% end %>
                <span><%= raw handleNewlinesAndUrls(thePost.content) %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="post"><div class="post_content">No New Posts... </div></div>
      <% end %>
    </div>
    <div class="stats">
      <span class="fan_count">
        <%= pluralize(aTailgate.tailgate_followers_count + 1, "fan") %>
      </span>
      <span class="lastUpdateDate">
        <% if aTailgate.posts.any? %>
          Updated <%= time_ago_in_words(aTailgate.posts_updated_at) %> ago
        <% end %>
      </span>
    </div>
  </div>
</div>
