<div class="span4 fanzoneTile" id="tailgate_<%= aTailgate.id %>">
  <div class="banner" 
       onclick="loadData('<%= tailgate_path(aTailgate, noLayout:true ) %>', '#nav_fanzone_<%= aTailgate.slug -%>')"
       style="background-color:<%= aTailgate.color %>" >
    <div class="join_fanzone">
      <div class="fanzoneState">
        <% if signed_in? %>
          <% if current_user.mine_or_following?( aTailgate ) %>
            <div class="myFanzone" style="border-bottom-color: <%= aTailgate.light_color %>;"></div>
          <% else %>
            <%= render partial: "partials/follow_button", locals: { tailgate: aTailgate } %>
          <% end %>
        <% else %>
          <a href="#myLoginModal" data-toggle="modal" class="follow_button">Follow</a>
        <% end %>
      </div>
    </div>
    <% if aTailgate.official %>
      <div class="official">
        <span>Official</span>
      </div>
    <% end %>
    <div class="banner_content">
      <table>
        <tr>
          <td class="team_logo">
            <%= teamLogo(aTailgate.team, :small) %>      
          </td>
          <td class="fanzone_name">
            <h3><%= aTailgate.name %></h3>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="content">
    <div class="posts">
      <% if aTailgate.posts.any? %>
        <% for i in 0..1 do %>
          <% if i < aTailgate.posts.length %>
            <div class="post">
              <div class="profile_pic">
                <% if aTailgate.posts[i].user.image %>
                  <%= image_tag( aTailgate.posts[i].user.image, size:"32x32") %>
                <% end %>
              </div>
              <div class="post_content">
                <strong><%= aTailgate.posts[i].user.full_name %></strong> <span><%= raw handleNewlinesAndUrls(aTailgate.posts[i].content) %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <tr class="post"><td class="profile_pic"></td><td class="post_content">No New Posts... </td></tr>
      <% end %>
    </div>
    <div class="stats">
      <span class="numFollowers">
        <%= pluralize(aTailgate.tailgate_followers.size + 1, "fan") %>
      </span>
      <span class="lastUpdateDate">
        <% if aTailgate.posts.any? %>
          Updated <%= time_ago_in_words(aTailgate.posts[0].created_at) %> ago
        <% end %>
      </span>
    </div>
  </div>
</div>
