<div class="span4 fanzoneTile">
  <div class="banner">
    <div class="join_fanzone">
      <% if signed_in? %>
        <%= render partial: "partials/follow_button", locals: { tailgate: tailgate } %>
      <% end %>
    </div>
    <div class="banner_content">
      <div class="team_logo">
        <%= teamLogo(tailgate.team, :small) %>      
      </div>
      <h3><%= tailgate.name %></h3>
    </div>
  </div>
  <div class="content">
    <div class="posts">
      <% for i in 0..1 do %>
        <% if i < tailgate.posts.length %>
          <div class="post">
            <div class="profile_pic">
              <% if tailgate.posts[i].user.image %>
                <%= image_tag( tailgate.posts[i].user.image, size:"32x32") %>
              <% end %>
            </div>
            <%= tailgate.posts[i].content %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="stats">
      <span class="numFollowers">
        23 fans
      </span>
      <span class="lastUpdateDate">
        19 June
      </span>
    </div>
  </div>
</div>
