<li class="fanzone" id="nav_<%= aTailgate.slug -%>">
  <a href="#nav_<%= aTailgate.slug -%>" onclick="loadData('<%= tailgate_path(aTailgate, noLayout:true ) %>', '#nav_<%= aTailgate.slug -%>')">
    <table>
      <tr>
        <td class="team_logo"><%= teamLogo(aTailgate.team, :small) -%></td>
        <td class="fanzone_name"><%= aTailgate.name -%></td>
        <td class="myFanzone"></td>
      </tr>
    </table>
  </a>
</li>
