<div id="left_nav">
  <div id="modals">
    <% if signed_in? %>
      <%= render partial: "partials/create_fanzone_modal", locals: { aTailgate: current_user.tailgates.build } %>
      <%= render partial: "partials/connect_twitter_modal" %>
    <% else %>
      <%= render partial: "partials/login_modal" %>
    <% end %>
  </div>
  <nav id="fanzo_navigation">
    <div id="account">
      <div id="account_content">
        <ul id="account_nav" class="nav">
          <% if signed_in? %>
            <li class="dropdown" id="account_dropdown">
              <a id="users_name" href="#account_dropdown" data-toggle="dropdown"><%= current_user.first_name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_registration_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <a href="#myLoginModal" data-toggle="modal">Log in</a>
            </li>
          <% end %>
        </ul>
      </div>
      <div id="tab">
        <div id="tab_inner"></div>
        <div id="tab_border"></div>
      </div>
    </div>
    
    <div id="fanzone_nav">
      <ul class="nav nav-tabs nav-stacked">
        <li id="logo">
          <a href="/">
            <div>
              <span class="brand">FANZO</span><span class="tld">.ME</span>
              <p class="tagline">
                where fans rule
              </p>
            </div>
          </a>
        </li>
        <li id="createFanzone">
          <% if signed_in? %>
            <a href="#myCreateFanzoneModal" data-toggle="modal">
              <span class="create">+ &nbsp; Create a Fanzone</span>
            </a>
          <% else %>
            <a href="#myLoginModal" data-toggle="modal">
              <span class="create">+ &nbsp; Create a Fanzone</span>
            </a>
          <% end %>
        </li>  
        
        <li id="allFanzones">
          <a onclick="loadData('<%= tailgates_path(noLayout:true ) %>', '#allFanzones')" href="#allFanzones">
            <span>All Fanzones</span>
          </a>
          <div id="fanzone_search">
            <%= form_tag("/tailgates/search", :method => "get", remote: 'true',  class: "form-search") do %>
              <%= hidden_field_tag :team_id %>
              <%= autocomplete_field_tag 'team', 
                                          '', 
                                          autocomplete_team_name_teams_path, 
                                          id_element: '#team_id',
                                          placeholder: 'Search for your team',
                                          class: 'search_input' %>
            <% end %>
          </div>
        </li>
        
        <li id="myFanzones">
          <%if signed_in? %>
            <a onclick="loadData('<%= tailgates_path(filter:"user", noLayout:true ) %>', '#myFanzones')" href="#myFanzones">
              <div>
                <% if current_user.image %>
                  <%= image_tag( current_user.image, size:"32x32") %>
                <% end %>
              </div>
              <span>My Fanzones</span>
            </a>
          <% else %>
            <a href="#myLoginModal" data-toggle="modal">My Fanzones</a>
          <% end %>
        </li>
    
        <% if signed_in? %>
          <% current_user.tailgates.each do | aTailgate |%>
            <%= render partial: "partials/left_nav_tailgate", locals: { aTailgate: aTailgate } unless aTailgate.new_record? %>
          <% end %>
          <% current_user.followed_tailgates.each do | aTailgate | %>
            <%= render partial: "partials/left_nav_tailgate", locals: { aTailgate: aTailgate }%>
          <% end %>
        <% end %>
    
      </ul>
    </div>
  </nav>
</div>
