<nav id="left_nav">

  <% if signed_in? %>
    <%= render partial: "partials/create_fanzone_modal", locals: { aTailgate: current_user.tailgates.build } %>
  <% end %>
  
  <ul class="nav nav-tabs nav-stacked">
    <li id="logo">
      <a href="/">
        <div>
          <span class="brand">FANZO</span><span class="tld">.ME</span>
          <p class="tagline">
            where fans rule
          </p>
        </div>
      </a>
    </li>
    <li id="createFanzone">
      <a href="#myCreateFanzoneModal" data-toggle="modal">
        <span class="create">+ &nbsp; CREATE A FANZONE</span>
      </a>
    </li>  
    
    <li id="allFanZones">
      <a onclick="loadData('<%= tailgates_path(noLayout:true ) %>', '#allFanZones')" href="#">ALL FANZONES</a> 
    </li>
    
    <li id="myFanzones">
      <a onclick="loadData('<%= tailgates_path(filter:"user", noLayout:true ) %>', '#myFanzones')" href="#">
        <div>
          <% if signed_in? && current_user.image %>
            <%= image_tag( current_user.image, size:"32x32") %>
          <% end %>
        </div>
        <span>My Fanzones</span>
      </a> 
    </li>

    <% if signed_in? %>
      <% current_user.tailgates.each do | aTailgate |%>
        <%= render partial: "partials/left_nav_tailgate", locals: { aTailgate: aTailgate } unless aTailgate.new_record? %>
      <% end %>
      <% current_user.followed_tailgates.each do | aTailgate | %>
        <%= render partial: "partials/left_nav_tailgate", locals: { aTailgate: aTailgate }%>
      <% end %>
    <% end %>

  </ul>
</nav>
