<div class="post" id="post_<%= aPost.id %>">
  <div class="post_votes">
    <div class="vote_up">
      <%= form_for([aPost.tailgate, aPost], url: up_vote_tailgate_post_path( aPost.tailgate, aPost ),remote:true) do |f| %>
        <i class="icon-thumbs-up"></i>
      <% end %>      
    </div>
    <div class="fan_score"><%= aPost.fan_score %></div>
    <div class="vote_down">
      <%= form_for([aPost.tailgate, aPost], url: down_vote_tailgate_post_path( aPost.tailgate, aPost ),remote:true) do |f| %>
        <i class="icon-thumbs-down"></i>
      <% end %>      
    </div>
  </div>

  <div class="profile_pic">
    <% if aPost.user.image %>
      <%= image_tag( aPost.user.image, size:"32x32" ) %>
    <% end %>
  </div>
  
  <div class="post_content">
    <div><%= aPost.user.full_name %></div>
    <p><%= raw handleNewlinesAndUrls( aPost.content ) %></p>
  </div>

  <div class="post_comments" id="post_<%= aPost.id %>_comments">

    <% if user_signed_in? && current_user.mine?(@tailgate)%>
      <% aPost.comments.each do |aComment| %>
        <%= render partial: "partials/comment", locals: { aComment: aComment } %>
      <% end %>
    <% else %>
      <% aPost.comments.visible.each do |aComment| %>
        <%= render partial: "partials/comment", locals: { aComment: aComment } %>
      <% end %>
    <% end %>
  </div>
  
  <div class="post_comment_form">
    <div class="profile_pic">
      <% if user_signed_in? %>
        <%= image_tag( current_user.image, size:"32x32" ) %>
      <% end %>
    </div>
    <%= render "/comments/form", post:aPost, comment:aPost.comments.build %>
  </div>
</div>
