<div class="post" id="post_<%= aPost.id %>">
  <div class="profile_pic">
    <% if aPost.user.image %>
      <%= image_tag( aPost.user.image, size:"32x32" ) %>
    <% end %>
  </div>
  
  <div class="post_content">
    <div><%= aPost.user.full_name %></div>
    <p><%= raw aPost.content.gsub(/\n/, "<br/>").gsub(/\(?\bhttp:\/\/[-A-Za-z0-9+&@#\/%?=~_()|!:,.;]*[-A-Za-z0-9+&@#\/%=~_()|]/i) {|a| "<a href='#{a}' target='_blank'>#{a}</a>"} %></p>
  </div>
  
  <div class="post_comments" id="post_<%= aPost.id %>_comments">
    <% aPost.comments.each do |aComment| %>
      <%= render partial: "partials/comment", locals: { aComment: aComment } %>
    <% end %>
  </div>
  
  <div class="post_comment_form">
    <div class="profile_pic">
      <% if signed_in? %>
        <%= image_tag( current_user.image, size:"32x32" ) %>
      <% end %>
    </div>
    <%= render "/comments/form", post:aPost, comment:aPost.comments.build %>
  </div>
</div>
