<div class="post" id="<%= aPost.id %>">
  <div class="profile_pic">
    <% if aPost.user.image %>
      <%= image_tag( aPost.user.image ) %>
    <% end %>
  </div>
  
  <p class="post_content">
    <%= aPost.content %>
  </p>
  
  <div class="post_comments" id="<%= aPost.id %>_comments">
    <% aPost.comments.each do |aComment| %>
      <%= render partial: "partials/comment", locals: { aComment: aComment } %>
    <% end %>
  </div>
  
  <%= render "/comments/form", post:aPost, comment:aPost.comments.build %>
</div>
