<div class="post" id="post_<%= aPost.id %>">
  <div class="post_votes">
    <% if user_signed_in? && thePostVote = current_user.user_post_votes.find_by_post_id(aPost.id) %>
      <div class="vote_up">
        <% if thePostVote.up_vote %>
          <i class="icon-thumbs-up icon-white disabled"></i>
        <% else %>
          <%= render partial: "partials/buttons/post_up_vote", locals: { aPost: aPost } %>
        <% end %>      
      </div>
      <div class="fan_score"><%= aPost.fan_score %></div>
      <div class="vote_down">
        <% if thePostVote.up_vote %>
          <%= render partial: "partials/buttons/post_down_vote", locals: { aPost: aPost } %>
        <% else %>
          <i class="icon-thumbs-down icon-white disabled"></i>
        <% end %>      
      </div>
    <% else %>
      <div class="vote_up">
        <%= render partial: "partials/buttons/post_up_vote", locals: { aPost: aPost } %>
      </div>
      <div class="fan_score"><%= aPost.fan_score %></div>
      <div class="vote_down">
        <%= render partial: "partials/buttons/post_down_vote", locals: { aPost: aPost } %>
      </div>
    <% end %>
  </div>

  <div class="profile_pic">
    <% if aPost.user.image %>
      <%= image_tag( aPost.user.image, size:"32x32" ) %>
    <% end %>
  </div>
  
  <div class="post_content">
    <div><%= aPost.user.full_name %></div>
    <p><%= raw handleNewlinesAndUrls( aPost.content ) %></p>
  </div>

  <div class="post_comments" id="post_<%= aPost.id %>_comments">

    <% if user_signed_in? && current_user.mine?(@tailgate)%>
      <% aPost.comments.each do |aComment| %>
        <%= render partial: "partials/comment", locals: { aComment: aComment } %>
      <% end %>
    <% else %>
      <% aPost.comments.visible.each do |aComment| %>
        <%= render partial: "partials/comment", locals: { aComment: aComment } %>
      <% end %>
    <% end %>
  </div>
  
  <div class="post_comment_form">
    <div class="profile_pic">
      <% if user_signed_in? %>
        <%= image_tag( current_user.image, size:"32x32" ) %>
      <% end %>
    </div>
    <%= render "/comments/form", post:aPost, comment:aPost.comments.build %>
  </div>
</div>
