<div class="venue_locations" <%= "id='user_location_#{aUserLocation.id}'" unless aCurrentLocationFlag -%> >
  <div class="locationLabel" style="background-color: <%= aLocationBackgroundColor -%>; color: <%= aLocationTextColor -%>">
    <% if aCurrentLocationFlag %>
      <span class="location_text">Current: <%= aLocationString %></span>
      <span class="change_location"><a href="#myChangeLocationModal" data-toggle="modal">change</a></span>
    <% else %>
      <%= render partial:"user_locations/user_location", locals: { aUserLocation: aUserLocation } %>
    <% end %>
  </div>
  <div class="venueList">
    <%= render partial:"partials/watch_site_venue_list", locals:{ aWatchSiteList: aWatchSiteList, aLocationString: aLocationString } %>
  </div>
</div>
