<%= provide(:title, "My Profile" ) %>

<div id="userShow" >
  <div class="banner">
    <div class="banner_content row-fluid">
      <div class="profile_details">
        <div class="big_profile_pic">
          <%= image_tag( @user.large_profile_pic ) %>
        </div>
        <h1><%= @user.full_name -%></h1>
        <p class="user_description"><%= @user.description -%></p>
        <p class="fan_since">Fan since <%= @user.created_at.strftime("%B %e, %Y") -%></p>
      </div>
    </div>
  </div>
  
  <div class="created_fanzones clearfix">
    <h2><%= @user.first_name -%>'s Fanzones</h2>
    <% @user.tailgates.each do |aTailgate| %>
      <%= render partial: "partials/fanzone_tile", locals: { aTailgate: aTailgate }%>  
    <% end %>
  </div>

  <div class="followed_fanzones clearfix">
    <h2><%= @user.first_name -%> Follows</h2>
    <% @user.followed_tailgates.each do |aTailgate| %>
      <%= render partial: "partials/fanzone_tile", locals: { aTailgate: aTailgate }%>  
    <% end %>
  </div>

</div>

