<%= provide(:title, "My Profile" ) %>

<div id="userShow" >
  
  <div id="myAddTeamModal" class="modal hide fade" style="display: none;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add a team:</h3>
    </div>
    <%= render :partial => 'partials/team_picker' %>
  </div>

  <div id="myAddLocationModal" class="modal hide fade" style="display: none;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Add a location:</h3>
    </div>
    <%= form_for(@user_location, url: user_user_locations_path(@user, @user_location) ) do |f| %>
    <div class="modal-body">
      <%= render :partial => 'partials/location', :locals => { :f => f, :location => @user_location.location } %>
    </div>
    <div class="modal-footer">
      <%= f.submit("Add", id:"commit", class:"btn") %>
    </div>
    <% end %>
  </div>

  <div class="row-fluid">
    <div id="nav" class="span3">
      <ul class="nav nav-tabs nav-stacked">
        
        <li id="trending">
          <a href="#" data-toggle="collapse" data-target="#trendingTailgates"><h3>Popular FANZOnes</h3></a>
          <div class="collapse" id="trendingTailgates">
            <dl>
              <% @user.teams.each do |aTeam|%>
                <dt><%= teamLogo(aTeam, :small) %> <%= aTeam.name %></dt>
                <% aTeam.tailgates do | aTailgate | %>
                  <dd><%= link_to aTailgate.name, tailgate_path(aTailgate)%></dd>
                <% end %>
              <% end %>
            </dl>
          </div>      
        </li>
      
        <li id="local">
          <a href="#" data-toggle="collapse" data-target="#localTailgateList"><h3>Local FANZOnes</h3></a>
          <div class="collapse" id="localTailgateList">
            <dl>
              <% @locationsWithTailgateVenues.each do |aLocation|%>
                <dt><%= aLocation[:locationName] %></dt>
                  <% aLocation[:tailgateVenueList].each do |aTailgateVenue|%>
                    <dd><%= link_to "#{aTailgateVenue.venue.name} - #{aTailgateVenue.tailgate.team.name}", tailgate_path(aTailgateVenue.tailgate)%></dd>
                  <% end %>
              <% end %>              
              <a href="#myAddLocationModal" data-toggle="modal" class="btn">Add Location</a>
            </dl>
          </div>      
        </li>
       
        <li id="myTailgates">
          <% if @user.tailgates.length == 0 %>
            <h2><%= link_to "Start Your Own FANZOne >>", new_tailgate_path, class: "btn btn-large btn-primary" %></h2>
          <% else %>
            <a href="#" data-toggle="collapse" data-target="#myTailgateList"><h3>My FANZOnes</h3></a>
            <div id="myTailgateList" class="collapse in">
              <dl>
                <% @user.tailgates.each do |aTailgate|%>
                  <dt><%= aTailgate.team.name %></dt>
                  <dd><%= teamLogo(aTailgate.team, :small) %> <%= link_to aTailgate.name, tailgate_path(aTailgate)%></dd>
                <% end %>
                <%= link_to "Start Another FANZOne >>", new_tailgate_path, class: "btn" %>
              </dl>  
            </div>
          <% end %>
        </li>
        
        <li id="officialTailgates">
          <a href="#" data-toggle="collapse" data-target="#officialTailgateList"><h3>Official FANZOnes</h3></a>
          <div id="officialTailgateList" class="collapse in">
            <dl>
              <% @user.teams.each do |aTeam|%>
                <dt><%= aTeam.sport.name %></dt>
                <dd><%= teamLogo(aTeam, :small) %> <%= link_to aTeam.name, team_path(aTeam)%></dd>
              <% end %>
              <a href="#myAddTeamModal" data-toggle="modal" class="btn">Add Team</a>
            </dl>
          </div>      
        </li>
        
      </ul>
    </div>
    
    <div class="span9 container-fluid">
      <div class="row-fluid">
      </div>
    </div>    
  </div>
</div>

