<%= provide(:title, "#{@user.full_name} - Profile" ) %>

<div id="userShow" >
  <div id="userContent">
    <div class="userBanner">
      <div class="userBannerContent row-fluid">
        <div class="profile_details">
          <div class="big_profile_pic">
            <%= image_tag( @user.large_profile_pic(140, 140), alt:"#{@user.full_name}", size:"140x140" ) %>
          </div>
          <h1><%= @user.full_name -%></h1>
          <p class="user_description"><%= @user.description -%></p>
          <p class="fan_since">Fan since <%= @user.created_at.strftime("%B %e, %Y") -%></p>
        </div>
      </div>
      <div class="horn">
        <%= image_tag("fanzo-horn-bg.png") %>
      </div>
      <% if user_signed_in? && current_user.id == @user.id %>
        <div class="edit_setting">
          <%= link_to "Edit", user_settings_edit_path, class:"fanzoButton" %>
        </div>
      <% end %>
    </div>
  
    <div id="allBrags">
      <%= render partial: "user_brag_module", locals: { aTitle: "#{@user.first_name} was there:", aListOfBrags: @user.i_was_there_brags } %>
      <%= render partial: "user_brag_module", locals: { aTitle: "#{@user.first_name} watched:", aListOfBrags: @user.i_watched_brags } %>
      <%= render partial: "user_brag_module", locals: { aTitle: "#{@user.first_name} wants to:", aListOfBrags: @user.i_wish_brags } %>
    </div>  
    <% if @user.teams.length > 0 %>
      <div id="userTeams" class="row-fluid">
        <div class="contentContainer">
          <div class="contentTitle">
            <h2><%= @user.first_name -%> is a fan of:</h2>
          </div>
          <div class="userContent">
            <% @user.teams.includes(:sport).each do |aTeam| %>
              <%= link_to Tailgate.where(official:true).where(team_id:aTeam.id).first do %>
                <div class="user_team">
                  <%= teamLogo(aTeam, :large) %>
                  <h4><%= aTeam.name -%></h4>
                  <h4><%= aTeam.sport.name -%></h4>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if @user.tailgates.length > 0 %>
      <div id="createdFanzones" class="row-fluid">
        <div class="contentContainer">
          <div class="contentTitle">
            <h2><%= @user.first_name -%> hosts these Fanzones:</h2>
          </div>
          <div class="userContent">
            <% @user.tailgates.each do |aTailgate| %>
              <%= render partial: "partials/fanzone_tile", locals: { aTailgate: aTailgate, aUserSignedInFlag: user_signed_in? }%>  
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  
    <% if @user.followed_tailgates.length > 0 %>
      <div id="followedFanzones" class="row-fluid">
        <div class="contentContainer">
          <div class="contentTitle">
            <h2><%= @user.first_name -%> follows these Fanzones:</h2>
          </div>
          <div class="userContent">
            <% @user.followed_tailgates.each do |aTailgate| %>
              <%= render partial: "partials/fanzone_tile", locals: { aTailgate: aTailgate, aUserSignedInFlag: user_signed_in? }%>  
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

