<h1>Listing user_brags</h1>

<table>
  <tr>
    <th>User</th>
    <th>Brag</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_brags.each do |user_brag| %>
  <tr>
    <td><%= user_brag.user %></td>
    <td><%= user_brag.brag %></td>
    <td><%= user_brag.type %></td>
    <td><%= link_to 'Show', user_brag %></td>
    <td><%= link_to 'Edit', edit_user_brag_path(user_brag) %></td>
    <td><%= link_to 'Destroy', user_brag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User brag', new_user_brag_path %>
