<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_brag.user %>
</p>

<p>
  <b>Brag:</b>
  <%= @user_brag.brag %>
</p>

<p>
  <b>Type:</b>
  <%= @user_brag.type %>
</p>


<%= link_to 'Edit', edit_user_brag_path(@user_brag) %> |
<%= link_to 'Back', user_brags_path %>
