$("#fanzone_nav #nav_<%= @tailgate.slug -%>").remove();
$("#tailgate_<%= @tailgate.slug -%> .fanzoneState").html("<div class="join_fanzone"><%= escape_javascript(render partial:'partials/buttons/follow_button', locals: { tailgate: @tailgate }) %></div>");
$("#tailgate_<%= @tailgate.slug -%> .fan_count").html("<%= pluralize(@tailgate.followers.count + 1, "Fan") -%>");
