<% if @event.visiting_team.slug && @event.home_team.slug %>
  <div class="row-fluid">
    <div class="span5">
      <img src="<%= logoPath(@event.visiting_team.slug, :medium) %>" />
      <h2><%= @event.visiting_team.name %></h2>
    </div>
    <div class="span2">
      <strong>at</strong>
    </div>
    <div class="span5">
      <img src="<%= logoPath(@event.home_team.slug, :medium) %>" />
      <h2><%= @event.home_team.name %></h2>
    </div>
  </div>
<% end %>





<p id="notice"><%= notice %></p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Event time:</b>
  <%= @event.event_time %>
</p>

<%if @event.location %>
<p>
  <b>Location:</b>
  <%= @event.location.one_line_address %>
</p>
<%end%>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'New', new_event_path %> |
<%= link_to 'Back', events_path %>
