  <div class="row-fluid">
    <div class="span5">
      <% if @event.visiting_team.slug && @event.home_team.slug %>
        <%= teamLogo(@event.visiting_team, :medium) %>
      <% end %>
      <h2><%= link_to @event.visiting_team.name, team_path(@event.visiting_team) %></h2>
    </div>
    <div class="span2">
      <strong>at</strong>
    </div>
    <div class="span5">
      <% if @event.visiting_team.slug && @event.home_team.slug %>
        <%= teamLogo(@event.home_team, :medium) %>
      <% end %>
      <h2><%= link_to @event.home_team.name, team_path(@event.home_team) %></h2>
    </div>
  </div>





<p id="notice"><%= notice %></p>

<p>
  <b>Event date:</b>
  <%= @event.event_date.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <b>Event time:</b>
  <%= @event.event_time.to_formatted_s(:time) %>
</p>

<%if @event.location %>
<p>
  <b>Location:</b>
  <%= @event.location.one_line_address %>
</p>
<%end%>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'New', new_event_path %> |
<%= link_to 'Back', events_path %>
