<div class="row-fluid">
  <div class="span12">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row-fluid">
  <div class="span5">
    <% if @event.visiting_team.slug && @event.home_team.slug %>
      <%= teamLogo(@event.visiting_team, :medium) %>
    <% end %>
    <h2><%= link_to @event.visiting_team.name, team_path(@event.visiting_team) %></h2>
  </div>
  <div class="span2">
    <strong>at</strong>
  </div>
  <div class="span5">
    <% if @event.visiting_team.slug && @event.home_team.slug %>
      <%= teamLogo(@event.home_team, :medium) %>
    <% end %>
    <h2><%= link_to @event.home_team.name, team_path(@event.home_team) %></h2>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <%= @event.event_date.to_formatted_s(:long_ordinal) %>
  </div>
  <div class="span6">
    <%= @event.event_time.to_formatted_s(:time) %>
  </div>
</div>
<%if @event.location %>
<div class="row-fluid">
  <div class="span12">
    <%= @event.location.one_line_address %>
  </div>
</div>
<%end%>
  
<div class="row-fluid">
  <div class="span12">
    <div id="tweetHolder">
      <div id="newTweets" class='alert alert-info fade in' style='display:none'>
        <a class='close' data-dismiss='alert' href='#'>×</a><p><strong>5</strong> new Tweets!</p>
      </div>
      <div id="tweets"></div>
    </div>
  </div>
</div>

<script language="JavaScript">
  $(function()
  {
    var theTwitterView = new TwitterView(<%= raw @hashTags %>, 20);
    theTwitterView.startLoadingTweets();
  })
</script>

