<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :venue_type %>
    <%= f.select(:venue_type_id, options_for_select(VenueType.all.collect {|p| [ p.name, p.id ] }, @venue.venue_type_id )) %>
  </div>

  <%= render :partial => 'partials/social_info', :locals => { :f => f, :social_info => @venue.social_info } %>
  
  <div class="field">
    <%= f.label :location %>
    <%= render :partial => 'partials/location', :locals => { :f => f, :location => @venue.location } %>
  </div>

  <div class="actions">
    <%= f.submit "Save", id:"commit" %>
  </div>
<% end %>
