<%= form_for(@facebook_page) do |f| %>
  <% if @facebook_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facebook_page.errors.count, "error") %> prohibited this facebook_page from being saved:</h2>

      <ul>
      <% @facebook_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="hide">
    <%= f.hidden_field :page_id %>
  </div>
  
  <div class="field">
    <%= label_tag(:league_id, "First, pick a league:") %>
    <%= select_tag(:league_id, options_for_select(League.visible.collect {|p| [ p.name, p.id ] } ), {id:"league_picker", prompt:"Select from this list"}) %>
    <%= label_tag :team_id, "Then pick a team:" %>
    <%= select_tag(:team_id, "", {include_blank:true, required:true}) %>
  </div>
  <div class="actions">
    <%= f.submit "Save", id:"commit", class:"fanzoButton" %>
  </div>
<% end %>

<script type="text/javascript">
  var myTeamHelper = new TeamHelper("#new_facebook_page", "#team_id");
  
  $(function()
  {
    myTeamHelper.connectToLeaguePicker();
  })
  
</script>
