<%= provide(:title, "Edit My Profile" ) %>


<div id="edit_user">
  <div class="modals">
    <div id="myAddTeamModal" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add a team:</h3>
      </div>
      <%= form_for(@user_team, url: user_user_teams_path(@user, @user_team), remote: true ) do |f| %>
        <div class="modal-body">
          <%= label_tag(:league_id, "First, pick a league:") %>
          <%= select_tag(:league_id, options_for_select(League.visible.collect {|p| [ p.name, p.id ] } ), {id:"league_picker", prompt:"Select from this list"}) %>
          <%= f.label :team_id, "Then pick a team:" %>
          <%= f.select(:team_id, [], {include_blank:true}, {required:true}) %>
        </div>
        <div class="modal-footer">
          <%= submit_tag("Add", id:"commit", class:"fanzoButton") %>
        </div>
      <% end %>
    </div>
  
    <div id="myAddLocationModal" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Add a location:</h3>
      </div>
      <%= form_for(@user_location, url: user_user_locations_path(@user, @user_location), remote:true ) do |f| %>
      <div class="modal-body">
        <%= f.label :location_query, "Location" %>
        <%= f.text_field :location_query, placeholder:"eg. Kirkland, WA", required: true %>
      </div>
      <div class="modal-footer">
        <%= f.submit("Add", id:"commit", class:"fanzoButton") %>
      </div>
      <% end %>
    </div>
  
    <%= render partial: "partials/dialogs/add_brag_modal", locals: { aDialogId: "myAddIWasThereBragModal",
                                                                     aUserBrag: @iWasThereBrag,
                                                                     aUser: @user,
                                                                     aContentLabel: "Complete the sentence: <strong> I was there...</strong>",
                                                                     aPlaceholder: "eg. When Notre Dame beat Florida State in the 1993 Game of the Century"
                                                                    } %>                
  
    <%= render partial: "partials/dialogs/add_brag_modal", locals: { aDialogId: "myAddIWatchedBragModal",
                                                                     aUserBrag: @iWatchedBrag,
                                                                     aUser: @user,
                                                                     aContentLabel: "Complete the sentence: <strong> I watched...</strong>",
                                                                     aPlaceholder: "eg. Carmelo Anthony score 37 points in 14 minutes vs. Nigeria"
                                                                    } %>                
  
    <%= render partial: "partials/dialogs/add_brag_modal", locals: { aDialogId: "myAddIWishBragModal",
                                                                     aUserBrag: @iWishBrag,
                                                                     aUser: @user,
                                                                     aContentLabel: "Complete the sentence: <strong> I want to...</strong>",
                                                                     aPlaceholder: "eg. Meet Joe Montana"
                                                                    } %>                
  </div>

  <div id="editContent">
  
    <div class="row-fluid">
      <div id="edit_header" class="span12">
        <div class="big_profile_pic">
          <%= image_tag( @user.large_profile_pic(140, 140) ) %>
        </div>
        <h2>Edit Your Fanzo Account</h2>
      </div>
    </div>
    <div class="row-fluid">
      <div id="first_column" class="span6">
      <%= form_for(@user, :url => user_settings_update_path, :html => { :method => :put }) do |f| %>
        <div class="registration_settings">
          <h3>Registration Information</h3>
          <% unless @user.errors.empty? %>
            <h4>There were some problems with your changes:</h4>
            <ul>
              <%= raw @user.errors.full_messages.map { |msg| content_tag(:li, msg) }.join %>
            </ul>
          <% end %>
          
          <%= f.label :email %>
          <%= f.email_field :email %>
  
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
  
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
  
          <%= f.label :description %>
          <%= f.text_area :description, rows:6, maxlength:160 %>
        </div>
  
        <div class="email_settings clearfix">
          <h3>Email Settings</h3>
          <div class="check_and_label">
            <%= f.check_box :no_email_on_posts %>
            <%= f.label :no_email_on_posts, "Don't notify me of new posts on my fanzones" %>
          </div>
          <div class="check_and_label">
            <%= f.check_box :no_email_on_comments %>
            <%= f.label :no_email_on_comments, "Don't notify me of new comments on my posts, or other posts I comment on" %>
          </div>
          <div class="check_and_label">
            <%= f.check_box :no_email_on_follows %>
            <%= f.label :no_email_on_follows, "Don't notify me when someone follows one of my fanzones" %>
          </div>
          <div class="check_and_label">
            <%= f.check_box :no_email_summary_of_followed_tailgates %>
            <%= f.label :no_email_summary_of_followed_tailgates, "Don't send me the daily update of fanzones I follow" %>
          </div>
          <div class="check_and_label">
            <%= f.check_box :no_email_newsletter %>
            <%= f.label :no_email_newsletter, "Don't send me the Fanzo Newsletter" %>
          </div>
        </div>
        
        <div class="facebook_settings clearfix">
          <h3>Facebook Settings</h3>
          <div class="check_and_label">
            <%= f.check_box :no_fb_share_on_create_tailgate %>
            <%= f.label :no_fb_share_on_create_tailgate, "Don't share the fanzones I create with Facebook" %>
          </div>
          <div class="check_and_label">
            <%= f.check_box :no_fb_share_on_follow_tailgate %>
            <%= f.label :no_fb_share_on_follow_tailgate, "Don't share the fanzones I follow with Facebook" %>
          </div>
        </div>
  
        <div class="edit_buttons">
          <div class="save_button">
            <%= f.submit "Save", class: "fanzoButton" %>
          </div>
        </div>
      <% end %>
      </div>
  
      <div id="second_column" class="span6">
        
  <!--
        <div class="connections">
          <h3>Connections</h3>
          <div class="connection">
            <%= link_to "Connect To Facebook", omniauth_authorize_path(User, 'facebook'), 
                        id:"facebook-login-button", class:"zocial facebook" %>
            <% if @user.facebook_user_id %>
              <span class="connected">Connected</span>
            <% end %>                      
          </div>
          <div class="connection">
            <%= link_to "Connect To Twitter", omniauth_authorize_path(User, 'twitter'), 
                        id:"connect_twitter_link", class:"zocial twitter" %>
            <% if @user.twitter_user_id %>
              <span class="connected">Connected</span>
            <% end %>                      
          </div>
          <div class="connection">
            <%= link_to "Connect To Instagram", omniauth_authorize_path(User, 'instagram'), 
                        id: "sign-in-with-instagram", class:"zocial instagram" %>
            <% if @user.instagram_user_id %>
              <span class="connected">Connected</span>
            <% end %>                      
          </div>
          <div class="connection">
            <%= link_to "Connect To Foursquare", omniauth_authorize_path(User, 'foursquare'), 
                        id:"foursquare-login-button", class:"zocial foursquare" %>
            <% if @user.foursquare_user_id %>
              <span class="connected">Connected</span>
            <% end %>                      
          </div>
        </div>
  -->
  
        <div class="teams">
          <h3>Your teams</h3>
          <div class="saved_teams">
            <ul>
              <% if @user.user_teams.length > 1 %>
                <% @user.user_teams.each do |aUserTeam| %>
                  <%  unless aUserTeam.new_record? %>
                    <li id="user_team_<%= aUserTeam.id -%>">
                      <%= render partial: "user_teams/user_team", locals: { aUserTeam: aUserTeam } %>
                    </li>
                  <% end %>
                <% end %>
              <% else %>
                <li class="no_teams">No teams</li>
              <% end %>
            </ul>
          </div>
          <div class="add_item">
            <a href="#myAddTeamModal" data-toggle="modal">Add Team</a>
          </div>
        </div>
  
        <div class="brags">
          <h3>Your Shouts</h3>
          <div id="IWasThereBrag_list">
            <h4>I was there...</h4>
            <ul>
              <% if @user.i_was_there_brags.length > 1 %>
                <% @user.i_was_there_brags.each do |aUserBrag| %>
                  <%  unless aUserBrag.new_record? %>
                    <li id="user_brag_<%= aUserBrag.id -%>">
                      <%= render partial: "user_brags/user_brag", locals: { aUserBrag: aUserBrag } %>
                    </li>
                  <% end %>
                <% end %>
              <% else %>
                <li class="no_brags">No &quot;I was there&quot; shouts</li>
              <% end %>
            </ul>
          </div>
          <div class="add_item">
            <a href="#myAddIWasThereBragModal" data-toggle="modal">Add &quot;I was there&quot; Shout</a>
          </div>
  
          <div id="IWatchedBrag_list">
            <h4>I watched...</h4>
            <ul>
              <% if @user.i_watched_brags.length > 1 %>
                <% @user.i_watched_brags.each do |aUserBrag| %>
                  <%  unless aUserBrag.new_record? %>
                    <li id="user_brag_<%= aUserBrag.id -%>">
                      <%= render partial: "user_brags/user_brag", locals: { aUserBrag: aUserBrag } %>
                    </li>
                  <% end %>
                <% end %>
              <% else %>
                <li class="no_brags">No &quot;I watched&quot; shouts</li>
              <% end %>
            </ul>
          </div>
          <div class="add_item">
            <a href="#myAddIWatchedBragModal" data-toggle="modal">Add &quot;I watched&quot; Shout</a>
          </div>
  
          <div id="IWishBrag_list">
            <h4>I want to...</h4>
            <ul>
              <% if @user.i_wish_brags.length > 1 %>
                <% @user.i_wish_brags.each do |aUserBrag| %>
                  <%  unless aUserBrag.new_record? %>
                    <li id="user_brag_<%= aUserBrag.id -%>">
                      <%= render partial: "user_brags/user_brag", locals: { aUserBrag: aUserBrag } %>
                    </li>
                  <% end %>
                <% end %>
              <% else %>
                <li class="no_brags">No &quot;I want to&quot; shouts</li>
              <% end %>
            </ul>
          </div>
          <div class="add_item">
            <a href="#myAddIWishBragModal" data-toggle="modal">Add &quot;I want to&quot; Shout</a>
          </div>
  
        </div>
        
        <div class="locations">
          <h3>Your saved locations</h3>
          <div class="saved_locations">
            <ul>
              <% if @user.user_locations.length > 1 %>
                <% @user.user_locations.each do |aUserLocation| %>
                  <%  unless aUserLocation.new_record? %>
                    <li id="user_location_<%= aUserLocation.id -%>">
                      <%= render partial: "user_locations/user_location", locals: { aUserLocation: aUserLocation } %>
                    </li>
                  <% end %>
                <% end %>
              <% else %>
                <li class="no_locations">No saved locations</li>
              <% end %>
            </ul>
          </div>
          <div class="add_item">
            <a href="#myAddLocationModal" data-toggle="modal">Add Location</a>
          </div>
        </div>
        
      </div>
  
    </div>
    
  </div>
</div>
