<%= form_for(@game_watch) do |f| %>
  <% if @game_watch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_watch.errors.count, "error") %> prohibited this game_watch from being saved:</h2>

      <ul>
      <% @game_watch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :event %><br />
    <%= f.select(:event_id, options_for_select(Event.all.collect {|p| [ p.name, p.id ] }, @game_watch.event_id )) %>
  </div>

  <div class="field">
    <%= f.label :venue %><br />
    <%= f.select(:venue_id, options_for_select(Venue.all.collect {|p| [ p.name, p.id ] }, @game_watch.venue_id )) %>
  </div>

  <div class="field">
    <%= f.label :creator %><br />
    <%= f.select(:creator_id, options_for_select(User.all.collect {|p| [ p.email, p.id ] }, @game_watch.creator_id )) %>
  </div>

  <div class="actions">
    <%= f.submit "Save", id:"commit" %>
  </div>

<% end %>
