<h1>Listing game_watches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Event</th>
    <th>Venue</th>
    <th>Creator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_watches.each do |game_watch| %>
  <tr>
    <td><%= game_watch.name %></td>
    <td><%= game_watch.event.name %></td>
    <td><%= game_watch.venue.name %></td>
    <td><%= game_watch.creator.email %></td>
    <td><%= link_to 'Show', game_watch %></td>
    <td><%= link_to 'Edit', edit_game_watch_path(game_watch) %></td>
    <td><%= link_to 'Destroy', game_watch, data: { confirm: "Are you sure?" }, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game watch', new_game_watch_path %>
