<div class="row-fluid">
  <div class="span12">
    <h1>Sign in to FANZO</h1>
    <h3>To continue, login with your Facebook account</h3>
    <%= render "devise/facebook_login_button" %>
  </div>
</div>

<% if Rails.env.test? %>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign in and join the fun >>", id:'commit' %></div>
  <% end %>
<% end %>
