<%= form_for([@tailgate, @post], remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div class="error_explanation">
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="media_preview">
    <%= f.hidden_field :image_url %>
    <%= f.hidden_field :video_id %>
    <div class="image_container hide">
      <img />
    </div>
    <div class="video_container hide">
      <div id="post_youtube"></div>
    </div>
  </div>
  <div id="photo_picker" class="hide">
    <div class="paperclip"></div>
    <div class="pickerLabel">Attach A Photo</div>
  </div>
  <%= f.text_area :content, rows:2, placeholder:"What's up?", required: true %>
  <div id="add_photo">
    <%= f.fields_for :photo do |p|%>
      <div id="photoFields" class="hide">
        <%= p.label :image, "Attach Photo:" %>
        <%= p.file_field :image %>
      </div>
    <% end %>
  </div>
  <div id="post_controls">
    <div id="post_combo" class="btn-group">
      <%= f.submit "Post", id:"add_post", class:"fanzoButton" %>
      <%= render partial: "partials/buttons/quick_tweet_button" %>
    </div>
    <div class="social_controls">
      <%= f.hidden_field :twitter_reply_id %>
      <%= f.hidden_field :twitter_retweet_id %>
      <%= f.check_box :twitter_flag %>
      <div class="twitter_check"></div>
      <%= f.check_box :facebook_flag %>
      <div class="facebook_check"></div>    
    </div>
  </div>
<% end %>
