<%= form_for([@tailgate, @post], remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div class="error_explanation">
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "/posts/post_fields", locals:{f:f} %>
  <%= render partial: "/posts/post_controls", locals:{f:f} %>
<% end %>
