<%= form_for([@tailgate, @post], remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div class="error_explanation">
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :twitter_reply_id %>
  <%= f.hidden_field :twitter_retweet_id %>
  <%= f.text_area :content, rows:3, placeholder:"What's up?" %>
  <div class="social_controls">
    <%= f.check_box :twitter_flag %>
    <div class="twitter_check"></div>
    <%= f.check_box :facebook_flag %>
    <div class="facebook_check"></div>    
  </div>
  <div class="post_combo btn-group">
    <%= f.submit "Post", id:"add_post", class:"fanzoButton" %>
    <button class="fanzoButton quickTweetButton" data-toggle="dropdown">
      <div></div>
    </button>
    <ul class="dropdown-menu">
      <li class="sectionHeader"><strong>Booyah!!</strong></li>
      <div class="happy">
        <li><p></p></li>
      </div>
      <li class="divider"></li>
      <li class="sectionHeader"><strong>What!?!?</strong></li>
      <div class="sad">
        <li><p></p></li>
      </div>
    </ul>         
  </div>
<% end %>
