<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_tailgate_post_path(@tailgate, @post) %> |
<%= link_to 'Back', tailgate_posts_path(@tailgate) %>
