<div id="myChangeLocationModal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add A Location</h3>
  </div>
  <%= form_tag("/watch_sites/search", :method => "get", remote: 'true',  class: "form-location") do %>
    <div class="modal-body">
      <%= hidden_field_tag(:team_id, aTeam.id) %>
      <%= label_tag(:location_query, "Location:") %>
      <%= text_field_tag :location_query, placeholder:"eg. Kirkland, WA", required: true %>      
    </div>
    <div class="modal-footer">
      <%= submit_tag("Update", class:"fanzoButton") %>
    </div>
  <% end %>
</div>

