<%= form_for([@event, @event_post], remote:true) do |f| %>
  <% if @event_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_post.errors.count, "error") %> prohibited this event_post from being saved:</h2>

      <ul>
      <% @event_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :post do |p|%>
    <%= render partial: "/posts/post_social_controls", locals:{f:p} %>
    <%= render partial: "/posts/post_fields", locals: { f:p } %>
  <% end %>

  <div id="post_controls" class="teamSelectorsAndSubmit">
    <div class="checkAndLogo">
      <%= f.check_box :visiting_flag %>
      <div class="checkLogo">
        <%= teamLogo(@event.visiting_team, :small) %>
      </div>
    </div>
  
    <div class="postButton">
      <div id="post_combo" class="btn-group">
        <%= f.submit "Post", id:"add_post", class:"fanzoButton" %>
        <%= render partial: "partials/buttons/quick_tweet_button" %>
      </div>
    </div>
  
    <div class="checkAndLogo">
      <%= f.check_box :home_flag %>
      <div class="checkLogo">
        <%= teamLogo(@event.home_team, :small) %>
      </div>
    </div>
  </div>
<% end %>
