<h1>Listing Fanzo Tips</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fanzo_tips.each do |fanzo_tip| %>
  <tr>
    <td><%= fanzo_tip.name %></td>
    <td><%= fanzo_tip.content %></td>
    <td><%= link_to 'Show', fanzo_tip %></td>
    <td><%= link_to 'Edit', edit_fanzo_tip_path(fanzo_tip) %></td>
    <td><%= link_to 'Destroy', fanzo_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fanzo tip', new_fanzo_tip_path %>
