<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= yield(:title) %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller] + '.js') )  %>
      <%= javascript_include_tag params[:controller] %>
    <% end %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller], params[:action] + '.js') )  %>
      <%= javascript_include_tag params[:controller] + '/' + params[:action] %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
	</head>
	<body>
    <div id="fb-root"></div>
		<div id="page_content">

			<%= yield %>
			
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
