<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
	<body>
    <div id="fb-root"></div>
    <div id="page_content">
      <%= render partial: 'partials/navigation/top_nav', locals: { user: @user, } %>
      <div>

        <% if flash[:notice] || flash[:error] %>
          <div id="flash_alerts">
            <% if flash[:notice] %>
              <div class="alert alert-success notice">
                <a class="close" data-dismiss="alert" href="javascript:void(0);">×</a>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div class="alert alert-error error">
                <a class="close" data-dismiss="alert" href="javascript:void(0);">×</a>
                <h4 class="alert-heading">Woops!</h4>
                <%= flash[:error] %>
              </div>
            <% end %>
          </div>  
        <% end %>
      </div>
      
      <div id="frameContent">
        <%= yield %>
      </div>    
		</div>
    <%= render 'partials/navigation/footer' %>

    <%= render partial: "partials/libs/pinterest" %>
    <%= render partial: "partials/libs/google_plus" %>
    <%= render partial: "partials/libs/google_analytics", locals: {aMobileFlag: "false"} %>
    
    <script type="text/javascript">
      UserManager.get().setMobile(false);
      <% if current_user %>
        UserManager.get().setAccountDetails(<%= raw current_user.to_json(include: [ :user_post_votes, :user_comment_votes, :tailgates, :followed_tailgates, :tailgate_followers ]) %>);
      <% end %>
    </script>
	</body>
</html>
