<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= yield(:title) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
    <script>
      $(document).ready(function(){
        initFacebookJSSDK();
        setTimeout( function()
        {
            window.scrollTo( 0, 1 );
        }, 100 );
      })
    </script>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller] + '.js') )  %>
      <%= javascript_include_tag params[:controller] %>
    <% end %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller], params[:action] + '.js') )  %>
      <%= javascript_include_tag params[:controller] + '/' + params[:action] %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
	</head>
	<body>
    <div id="fb-root"></div>
		<%= render 'layouts/header' %>
		<div class="container-fluid">

			<%= yield %>
			
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
