<!DOCTYPE html>
<html lang="en">
	<head <%= yield(:head_open_graph) if content_for?(:head_open_graph) -%>>
		<title><%= content_for?(:title) ? yield(:title) : "Fanzo - Where Fans Rule!" %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<% if browser.mobile? %>
      <%= stylesheet_link_tag    "tablet", :media => "all" %>
		<% end %>
		<%= javascript_include_tag "application" %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller] + '.js') )  %>
      <%= javascript_include_tag params[:controller] %>
    <% end %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller], params[:action] + '.js') )  %>
      <%= javascript_include_tag params[:controller] + '/' + params[:action] %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= yield :opengraph_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag %>
	</head>
	<body>
    <div id="fb-root"></div>
    <div id="page_content">
      <div>
        <%= render partial: 'partials/left_nav', locals: { user: @user, } %>
      </div>
      
      <div id="frameContent">
        <% if flash[:notice] || flash[:error] %>
          <div id="flash_alerts">
            <% if flash[:notice] %>
              <div class="alert alert-success notice">
                <a class="close" data-dismiss="alert" href="javascript:void(0);">×</a>
                <h4 class="alert-heading">Sweet!</h4>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if flash[:error] %>
              <div class="alert alert-error error">
                <a class="close" data-dismiss="alert" href="javascript:void(0);">×</a>
                <h4 class="alert-heading">Woops!</h4>
                <%= flash[:error] %>
              </div>
            <% end %>
          </div>  
        <% end %>

        <%= yield %>
      </div>    
		</div>

    <%= render partial: "partials/libs/pinterest" %>
    <%= render partial: "partials/libs/google_plus" %>
    <%= render partial: "partials/libs/google_analytics", locals: {aMobileFlag: "false"} %>
    
    <script type="text/javascript">
      UserManager.get().setMobile(false);
      <% if current_user %>
        UserManager.get().setAccountDetails(<%= raw current_user.to_json %>);
      <% end %>
    </script>
	</body>
</html>
