<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "FANZO - Where Fans Rule!" %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller] + '.js') )  %>
      <%= javascript_include_tag params[:controller] %>
    <% end %>
    <% if File.exists?( Rails.root.join("app", "assets", "javascripts", params[:controller], params[:action] + '.js') )  %>
      <%= javascript_include_tag params[:controller] + '/' + params[:action] %>
    <% end %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
	</head>
	<body>
    <div id="fb-root"></div>
    <div id="page_content">
      <div>
        <%= render partial: 'partials/left_nav', locals: { user: @user, } %>
      </div>
      
      <div id="frameContent">
        <%= yield %>
      </div>    
		</div>
	</body>
</html>
